{% extends './base.html' %}

{% block js %}

<script> 
  $(function () {
        $("#myTab a:contains('Indicadores económicos del Hato')").parent().addClass('active');        
     });


$(document).ready(function() {
  $('#form').ajaxForm(function() {
    alert("Información de hembras guardado exitosamente");
    window.location.href = '/hato/machos/{{object.predio_id}}';
  }); 
});
  
$(document).ready(function(){
  
$("#id_vacas_paridas_ajenas").on('keyup mouseup keypress blur focusin bind',function(){
    var paridas_propias = $("#id_vacas_paridas_propias").val();
    var paridas_ajenas = $("#id_vacas_paridas_ajenas").val();       
    $("#id_vacas_paridas_totales").val(Number(paridas_propias)+Number(paridas_ajenas));     
  }); // blur paridas propias

  $("#id_vacas_paridas_propias").on('keyup mouseup keypress blur focusin bind',function(){
    var paridas_propias = $("#id_vacas_paridas_propias").val();
    var paridas_ajenas = $("#id_vacas_paridas_ajenas").val();       
    $("#id_vacas_paridas_totales").val(Number(paridas_propias)+Number(paridas_ajenas));       
  }); // blur paridas ajenas


  $("#id_vacas_horras_propias").on('keyup mouseup keypress blur focusin bind',function(){
    var horras_propias = $("#id_vacas_horras_propias").val();
    var horras_ajenas = $("#id_vacas_horras_ajenas").val();       
    $("#id_vacas_horras_totales").val(Number(horras_propias)+Number(horras_ajenas));     
  }); // blur horras propias
  
  $("#id_vacas_horras_ajenas").on('keyup mouseup keypress blur focusin bind',function(){
    var horras_propias = $("#id_vacas_horras_propias").val();
    var horras_ajenas = $("#id_vacas_horras_ajenas").val();       
    $("#id_vacas_horras_totales").val(Number(horras_propias)+Number(horras_ajenas));      
  }); // blur horras ajenas


  $("#id_vacas_23_propias").on('keyup mouseup keypress blur focusin bind',function(){
    var veintitres_propias = $("#id_vacas_23_propias").val();
    var veintitres_ajenas = $("#id_vacas_23_ajenas").val();       
    $("#id_vacas_23_totales").val(Number(veintitres_propias)+Number(veintitres_ajenas));     
  }); // blur 23 propias
  
   $("#id_vacas_23_ajenas").on('keyup mouseup keypress blur focusin bind',function(){
    var veintitres_propias = $("#id_vacas_23_propias").val();
    var veintitres_ajenas = $("#id_vacas_23_ajenas").val();       
    $("#id_vacas_23_totales").val(Number(veintitres_propias)+Number(veintitres_ajenas));          
  }); // blur 23 ajenas


  $("#id_vacas_12_propias").on('keyup mouseup keypress blur focusin bind',function(){
    var unoados_propias = $("#id_vacas_12_propias").val();
    var unoados_ajenas = $("#id_vacas_12_ajenas").val();       
    $("#id_vacas_12_totales").val(Number(unoados_propias)+Number(unoados_ajenas));     
  }); // blur 12 propias
  
  $("#id_vacas_12_ajenas").on('keyup mouseup keypress blur focusin bind',function(){
    var unoados_propias = $("#id_vacas_12_propias").val();
    var unoados_ajenas = $("#id_vacas_12_ajenas").val();       
    $("#id_vacas_12_totales").val(Number(unoados_propias)+Number(unoados_ajenas));         
  }); // blur 12 ajenas


  $("#id_vacas_menores_propias").on('keyup mouseup keypress blur focusin bind',function(){
    var menores_propias = $("#id_vacas_menores_propias").val();
    var menores_ajenas = $("#id_vacas_menores_ajenas").val();       
    $("#id_vacas_menores_totales").val(Number(menores_propias)+Number(menores_ajenas));     
  }); // blur menores propias  
   $("#id_vacas_menores_ajenas").on('keyup mouseup keypress blur focusin bind',function(){
    var menores_propias = $("#id_vacas_menores_propias").val();
    var menores_ajenas = $("#id_vacas_menores_ajenas").val();       
    $("#id_vacas_menores_totales").val(Number(menores_propias)+Number(menores_ajenas));         
  }); // blur menores ajenas


  $("#id_vacas_descarte_propias").on('keyup mouseup keypress blur focusin bind',function(){
    var descarte_propias = $("#id_vacas_descarte_propias").val();
    var descarte_ajenas = $("#id_vacas_descarte_ajenas").val();       
    $("#id_vacas_descarte_totales").val(Number(descarte_propias)+Number(descarte_ajenas));     
  }); // blur menores propias  
     $("#id_vacas_descarte_ajenas").on('keyup mouseup keypress blur focusin bind',function(){
    var descarte_propias = $("#id_vacas_descarte_propias").val();
    var descarte_ajenas = $("#id_vacas_descarte_ajenas").val();       
    $("#id_vacas_descarte_totales").val(Number(descarte_propias)+Number(descarte_ajenas));       
  }); // blur menores ajenas




});




</script>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Inventario Animal </a></li>
  <li role="presentation"><a href="/hato/doble-proposito/{{object.predio_id}}">Parámetros Productivos </a></li>
</ul>

<form action="." method="POST" id="form">{% csrf_token %}
 <div class="tab-content">   
         <div class="tab-content">
           <div class="tab-pane active" id="invanimal">
             <div class="row-fluid">             
               <div class="span4" style="margin-bottom: 10px;width: auto;padding-right: -1px">
               <form action="." method="POST" id="form">{% csrf_token %}
               <h4>Inventario ganadero</h4>
                 <ul class="inline">
                   <li style="margin-right:130px"><p class="text-info">Hembras</p></li>
                   <li style="margin-right:25px"><p class="text-info">Propios</p></li>
                   <li style="margin-right:30px"><p class="text-info">Ajenos</p></li>
                   <li><p class="text-info">Totales</p></li>                   
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:93px">Vacas paridas</li>
                   <li>{{form.vacas_paridas_propias}}</li>
                   <li>{{form.vacas_paridas_ajenas}}</li>
                   <li>{{form.vacas_paridas_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:46px">Vacas horras (Secas)</li>
                   <li>{{form.vacas_horras_propias}}</li>
                   <li>{{form.vacas_horras_ajenas}}</li>
                   <li>{{form.vacas_horras_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:34px">Hembras de 2 a 3 años</li>
                   <li>{{form.vacas_23_propias}}</li>
                   <li>{{form.vacas_23_ajenas}}</li>
                   <li>{{form.vacas_23_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:34px">Hembras de 1 a 2 años</li>
                   <li>{{form.vacas_12_propias}}</li>
                   <li>{{form.vacas_12_ajenas}}</li>
                   <li>{{form.vacas_12_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:5px">Hembras menores de 1 año</li>
                   <li>{{form.vacas_menores_propias}}</li>
                   <li>{{form.vacas_menores_ajenas}}</li>
                   <li>{{form.vacas_menores_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li>Animales de saca o descarte</li>
                   <li>{{form.vacas_descarte_propias}}</li>
                   <li>{{form.vacas_descarte_ajenas}}</li>
                   <li>{{form.vacas_descarte_totales}}</li>
                 </ul>

<input type="submit"  value="Guardar">
</form>
</div>
<nav>
  <ul class="pager">
    <!--<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>-->
    <li class="next"><a href="/hato/machos/{{object.predio_id}}">Machos <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>

{% endblock %}


