{% extends './base.html' %}

{% block js %}

<script> 
  $(function () {
        $("#myTab a:contains('Enfoque diferencial')").parent().addClass('active');        
     });

$(document).ready(function() {
  $('#form').ajaxForm(function() {
    alert("Información de enfoque diferencia guardado exitosamente");
    window.location.href = '/edit';
  }); 
});

  
</script>
{% endblock %}

{% block content %}

</br>

<form action="." method="POST" id="form">{% csrf_token %}
{{form.as_p}}
<p><input type="submit" value="Guardar"></p>
</form>
{% endblock %}