<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Formulario CIPAV</title>


<style type="text/css">
 .btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
  border-left: 10px solid #428bca;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
  border-left: 10px solid #357ebd;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
  border-left: 10px solid #3276b1;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
  border-left: 10px solid #285e8e;
}

/** Success button **/
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
  border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
  border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
  border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
  border-left: 10px solid #398439;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
  border-left: 10px solid #d9534f;
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
  border-left: 10px solid #d43f3a;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
  border-left: 10px solid #d2322d;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
  border-left: 10px solid #ac2925;
}

/** Warning button **/
.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
  border-left: 10px solid #f0ad4e;
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
  border-left: 10px solid #eea236;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
  border-left: 10px solid #ed9c28;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
  border-left: 10px solid #d58512;
}

/** Info button **/
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
  border-left: 10px solid #5bc0de;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
  border-left: 10px solid #46b8da;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
  border-left: 10px solid #39b3d7;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
  border-left: 10px solid #269abc;
}
</style>

<style type="text/css">
@import url('http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.css');
@import url('http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2-bootstrap.css');
@import url('http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css');
.timepicker-picker .table-condensed td{text-align:center}
</style>

<style>
        #demo {background:white;}
        .sortitem{background:white;padding-left:20px;}
        .sortitem .sorthandle{position:absolute;top:5px;bottom:5px;left:3px;width:8px;display:none;background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAB3RJTUUH3wIDBycZ/Cj09AAAAAlwSFlzAAALEgAACxIB0t1+/AAAAARnQU1BAACxjwv8YQUAAAAWSURBVHjaY2DABhoaGupBGMRmYiAEAKo2BAFbROu9AAAAAElFTkSuQmCC');}
        .sortitem:hover .sorthandle{display:block;}
</style>
<!--
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" media="print" href="http://printstylesheet.com/print.css">
-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
<!--
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
-->
<link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <script src="js/jquery.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.js"></script>

<!-- Links tabla -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<!-- fin Links tabla -->

</head>
<body>
	

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Barra_Navegacion">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <li><a href="#" class="navbar-brand">PrediApp </a><img src="http://imageshack.com/a/img538/8439/N3lBTg.png" style="width: 40px;height: 40px; margin-top:3px; margin-left:-10px"></li>
      
    </div>
    
    <div class="collapse navbar-collapse" id="Barra_Navegacion"><!-- colapsable -->
      <ul class="nav navbar-nav"> <!-- Navbar left -->
        <li><a href="#"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-user"></span>Usuario <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Listar usuario</a></li>
            <li><a href="#">Consultar usuario</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-map-marker"></span>Predios <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Consulta de predio</a></li>
            <li><a href="#">Listar predio</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-list-alt"></span> Reportes y estadisticas <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Reporte</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-retweet"></span> Mantenimiento <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Mantenimiento</a></li>
          </ul>
        </li>
      </ul> <!-- Fin Navbar left -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{user.username}}</a></li>
      </ul>
      <legend style="background-color:red; height:3px; max-width:100%; margin:0px 0px 0px -1px"></legend>
      <ul class="nav navbar-nav"> <!-- navba-nav -->
            <li><h4><img src="img/Logo_CP.png" style="height: 40px;width: 60px;margin-top:-8px">
          Planificaci&oacute;n predial</h4></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">M&oacute;dulos de sistema<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="IndexCIPAV.html">Identificaci&oacute;n de usuarios</a></li>
              <li><a href="#">Planificaci&oacute;n predial</a></li>
              <li><a href="#">Modulo localizaci&oacute;n y caracterizaci&oacute;n</a></li>
            </ul>
          </li>
      </ul> <!-- fin navba-nav -->
    </div><!-- Fin colapsable -->
    
  </div>
</nav>

<div class="panel panel-primary" style="margin:10px">
  <div class="panel-body">
    <h3 align="center">Comparativo inventario de predios</h3>
    <div class="col-md-6" style="margin-bottom:10px;padding:0px">
              <h4>Filtro de predios</h4>
              <select class="form-control" id="tagPicker" multiple="multiple">
                <option value="1">La mapora</option>
                <option value="2">La caleñita</option>
                <option selected="selected" value="3">Santa Isabel</option>
                <option value="4">Los Casanares</option>
                <option selected="selected" value="5">Hectareas</option>
                <option value="6">Propietario</option>
                <option value="7">Hectareas</option>
              </select>
    </div>
    <div class="col-md-12" style="margin-left:0px;border:1px solid #DCDCDC;border-radius:5px">
      <div id="demo" class="row">
        <div class="col-md-4" style="padding-left:5px">
          <h4>Inventario ganadero</h4>
        </div>
        <div class="sortitem col-md-2" align="center">
          <span class="sorthandle"> </span>
          <h5>La caleñita</h5>
        </div>
        <div class="sortitem col-md-2" align="center">
          <span class="sorthandle"> </span>
          <h5>Santa isabel</h5>
        </div>
        <div class="sortitem col-md-2" align="center">
          <span class="sorthandle"> </span>
          <h5>La primavera</h5>
        </div>
        <div class="sortitem col-md-2" align="center">
          <span class="sorthandle"> </span>
          <h5>Los olivos</h5>
        </div>
      </div>
    </div>
    <div class="table-responsive col-md-12" style="padding:0px">
      <table class="table table-condensed table-bordered">
        <tbody>
          <tr>
            <td width="410px"><strong>Hembras</strong></td>
            <td>Prop.</td>
            <td>Aje.</td>
            <td><strong>Total</strong></td>
            <td>Prop.</td>
            <td>Aje.</td>
            <td><strong>Total</strong></td>
            <td>Prop.</td>
            <td>Aje.</td>
            <td><strong>Total</strong></td>
            <td>Prop.</td>
            <td>Aje.</td>
            <td><strong>Total</strong></td>
          </tr>
          <tr>
            <td>Vacas paridas</td>
            <td>20</td>
            <td>20</td>
            <td>40</td>
            <td>20</td>
            <td>20</td>
            <td>40</td>
            <td>20</td>
            <td>20</td>
            <td>40</td>
            <td>20</td>
            <td>20</td>
            <td>40</td>
          </tr>
          <tr>
            <td>Vacas horras(secas)</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>Hembras de 2 a 3 años</td>
            <td>10</td>
            <td>10</td>
            <td>20</td>
            <td>10</td>
            <td>10</td>
            <td>20</td>
            <td>10</td>
            <td>10</td>
            <td>20</td>
            <td>10</td>
            <td>10</td>
            <td>20</td>
          </tr>
          <tr>
            <td>Hembras de 1 a 2 años</td>
            <td>8</td>
            <td>8</td>
            <td>16</td>
            <td>8</td>
            <td>8</td>
            <td>16</td>
            <td>8</td>
            <td>8</td>
            <td>16</td>
            <td>8</td>
            <td>8</td>
            <td>16</td>
          </tr>
          <tr>
            <td>Hembras menores de 1 año</td>
            <td>18</td>
            <td>18</td>
            <td>36</td>
            <td>18</td>
            <td>18</td>
            <td>36</td>
            <td>18</td>
            <td>18</td>
            <td>36</td>
            <td>18</td>
            <td>18</td>
            <td>36</td>
          </tr>
          <tr>
            <td>Animales de saca o descarte</td>
            <td>18</td>
            <td>18</td>
            <td>36</td>
            <td>18</td>
            <td>18</td>
            <td>36</td>
            <td>18</td>
            <td>18</td>
            <td>36</td>
            <td>18</td>
            <td>18</td>
            <td>36</td>
          </tr>
          <tr>
            <td><strong>Totales</strong></td>
            <td><strong>70</strong></td>
            <td><strong>70</strong></td>
            <td><strong>140</strong></td>
            <td><strong>70</strong></td>
            <td><strong>70</strong></td>
            <td><strong>140</strong></td>
            <td><strong>70</strong></td>
            <td><strong>70</strong></td>
            <td><strong>140</strong></td>
            <td><strong>70</strong></td>
            <td><strong>70</strong></td>
            <td><strong>140</strong></td>
          </tr>
        </tbody>
      </table>
    </div>

      <div class="col-md-12" style="margin-left:0px;border:1px solid #DCDCDC;border-radius:5px">
               <div id="demo" class="row">
                 <div class="col-md-4" style="padding-left:5px">
                   <h4>Inventario ganadero</h4>
                 </div>
                  <div class="sortitem col-md-2" align="center">
                      <span class="sorthandle"> </span>
                      <h5>La caleñita</h5>
                  </div>
                  <div class="sortitem col-md-2" align="center">
                      <span class="sorthandle"> </span>
                      <h5>Santa isabel</h5>
                  </div>
                  <div class="sortitem col-md-2" align="center">
                      <span class="sorthandle"> </span>
                      <h5>La primavera</h5>
                  </div>
                  <div class="sortitem col-md-2" align="center">
                      <span class="sorthandle"> </span>
                      <h5>Los olivos</h5>
                  </div>
                </div>
      </div>
      <div class="table-responsive col-md-12" style="padding:0px">
        <table class="table table-condensed table-bordered">
                <tbody>
                  <tr>
                    <td width="410px"><strong>Machos</strong></td>
                    <td>Prop.</td>
                    <td>Aje.</td>
                    <td><strong>Total</strong></td>
                    <td>Prop.</td>
                    <td>Aje.</td>
                    <td><strong>Total</strong></td>
                    <td>Prop.</td>
                    <td>Aje.</td>
                    <td><strong>Total</strong></td>
                    <td>Prop.</td>
                    <td>Aje.</td>
                    <td><strong>Total</strong></td>
                  </tr>
                  <tr>
                    <td>Toros</td>
                    <td>20</td>
                    <td>20</td>
                    <td>40</td>
                    <td>20</td>
                    <td>20</td>
                    <td>40</td>
                    <td>20</td>
                    <td>20</td>
                    <td>40</td>
                    <td>20</td>
                    <td>20</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>Machos mayores a 3 años</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>Machos entre 2 a 3 años</td>
                    <td>10</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>10</td>
                    <td>20</td>
                  </tr>
                  <tr>
                    <td>Machos de 1 a 2 años</td>
                    <td>8</td>
                    <td>8</td>
                    <td>16</td>
                    <td>8</td>
                    <td>8</td>
                    <td>16</td>
                    <td>8</td>
                    <td>8</td>
                    <td>16</td>
                    <td>8</td>
                    <td>8</td>
                    <td>16</td>
                  </tr>
                  <tr>
                    <td>Machos menores de 1 año</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td>Bueyes</td>
                    <td>5</td>
                    <td>5</td>
                    <td>10</td>
                    <td>5</td>
                    <td>5</td>
                    <td>10</td>
                    <td>5</td>
                    <td>5</td>
                    <td>10</td>
                    <td>5</td>
                    <td>5</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Animales de saca o descarte</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td><strong>Totales</strong></td>
                    <td><strong>79</strong></td>
                    <td><strong>79</strong></td>
                    <td><strong>158</strong></td>
                    <td><strong>79</strong></td>
                    <td><strong>79</strong></td>
                    <td><strong>158</strong></td>
                    <td><strong>79</strong></td>
                    <td><strong>79</strong></td>
                    <td><strong>158</strong></td>
                    <td><strong>79</strong></td>
                    <td><strong>79</strong></td>
                    <td><strong>158</strong></td>
                  </tr>
                </tbody>
              </table>
      </div>

      <div class="col-md-12" style="margin-left:0px;border:1px solid #DCDCDC;border-radius:5px">
               <div id="demo" class="row">
                 <div class="col-md-4" style="padding-left:5px">
                   <h4>Inventario ganadero</h4>
                 </div>
                  <div class="sortitem col-md-2" align="center">
                      <span class="sorthandle"> </span>
                      <h5>La caleñita</h5>
                  </div>
                  <div class="sortitem col-md-2" align="center">
                      <span class="sorthandle"> </span>
                      <h5>Santa isabel</h5>
                  </div>
                  <div class="sortitem col-md-2" align="center">
                      <span class="sorthandle"> </span>
                      <h5>La primavera</h5>
                  </div>
                  <div class="sortitem col-md-2" align="center">
                      <span class="sorthandle"> </span>
                      <h5>Los olivos</h5>
                  </div>
                </div>
      </div>
      <div class="table-responsive col-md-12" style="padding:0px">
        <table class="table table-condensed table-bordered">
                <tbody>
                  <tr>
                    <td width="410px"><strong>Otras especies</strong></td>
                    <td>Prop.</td>
                    <td>Aje.</td>
                    <td><strong>Total</strong></td>
                    <td>Prop.</td>
                    <td>Aje.</td>
                    <td><strong>Total</strong></td>
                    <td>Prop.</td>
                    <td>Aje.</td>
                    <td><strong>Total</strong></td>
                    <td>Prop.</td>
                    <td>Aje.</td>
                    <td><strong>Total</strong></td>
                  </tr>
                  <tr>
                    <td>Caballares</td>
                    <td>20</td>
                    <td>20</td>
                    <td>40</td>
                    <td>20</td>
                    <td>20</td>
                    <td>40</td>
                    <td>20</td>
                    <td>20</td>
                    <td>40</td>
                    <td>20</td>
                    <td>20</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>Mulares</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>Cochino sabanero</td>
                    <td>10</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>10</td>
                    <td>20</td>
                    <td>10</td>
                    <td>10</td>
                    <td>20</td>
                  </tr>
                  <tr>
                    <td>Cerdos en confinamiento</td>
                    <td>8</td>
                    <td>8</td>
                    <td>16</td>
                    <td>8</td>
                    <td>8</td>
                    <td>16</td>
                    <td>8</td>
                    <td>8</td>
                    <td>16</td>
                    <td>8</td>
                    <td>8</td>
                    <td>16</td>
                  </tr>
                  <tr>
                    <td>Gallina de postura encasetada</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td>Bueyes</td>
                    <td>5</td>
                    <td>5</td>
                    <td>10</td>
                    <td>5</td>
                    <td>5</td>
                    <td>10</td>
                    <td>5</td>
                    <td>5</td>
                    <td>10</td>
                    <td>5</td>
                    <td>5</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Pollos de engorde</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td>Aves transpatio(Patos, gallinas, etc)</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td>Ovinos</td>
                    <td>5</td>
                    <td>5</td>
                    <td>10</td>
                    <td>5</td>
                    <td>5</td>
                    <td>10</td>
                    <td>5</td>
                    <td>5</td>
                    <td>10</td>
                    <td>5</td>
                    <td>5</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Caprinos</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td>Peces</td>
                    <td>5</td>
                    <td>5</td>
                    <td>10</td>
                    <td>5</td>
                    <td>5</td>
                    <td>10</td>
                    <td>5</td>
                    <td>5</td>
                    <td>10</td>
                    <td>5</td>
                    <td>5</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Bufalos</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td><strong>Totales</strong></td>
                    <td><strong>150</strong></td>
                    <td><strong>150</strong></td>
                    <td><strong>300</strong></td>
                    <td><strong>150</strong></td>
                    <td><strong>150</strong></td>
                    <td><strong>300</strong></td>
                    <td><strong>150</strong></td>
                    <td><strong>150</strong></td>
                    <td><strong>300</strong></td>
                    <td><strong>150</strong></td>
                    <td><strong>150</strong></td>
                    <td><strong>300</strong></td>
                  </tr>
                </tbody>
              </table>
      </div>

      <div class="col-md-12" style="margin-left:0px;border:1px solid #DCDCDC;border-radius:5px">
      <div id="demo" class="row">
        <div class="col-md-4" style="padding-left:5px">
          <h4>Inventario ganadero</h4>
        </div>
        <div class="sortitem col-md-2" align="center">
          <span class="sorthandle"> </span>
          <h5>La caleñita</h5>
        </div>
        <div class="sortitem col-md-2" align="center">
          <span class="sorthandle"> </span>
          <h5>Santa isabel</h5>
        </div>
        <div class="sortitem col-md-2" align="center">
          <span class="sorthandle"> </span>
          <h5>La primavera</h5>
        </div>
        <div class="sortitem col-md-2" align="center">
          <span class="sorthandle"> </span>
          <h5>Los olivos</h5>
        </div>
      </div>
    </div>  

  </div>
</div>



<script type="text/javascript">
$(document).ready(function () {
                
  $('#example1').datepicker({
  format: "dd/mm/yyyy"
  });  
  $('#example2').datepicker({
  format: "dd/mm/yyyy"
  });   
});

  //Select2
$.getScript('http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.min.js',function(){
           
  /* dropdown and filter select */
  var select = $('#select2').select2();
  
  /* Select2 plugin as tagpicker */
  $("#tagPicker").select2({
    closeOnSelect:false
  });

}); //script         
      
  
//Date picker
$.getScript('//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js',function(){
  
  $('#datePicker').datepicker({
    autoclose:true,
  }).on("changeDate", function(e){
    console.log(e.date);
  });
  
  $('.input-daterange').datePicker({
    autoclose:true
  }).on("changeDate", function(e){
    console.log(e.date);
  });
  
}); //script  
   


//Time picker - requires moment.js
$.getScript('//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js',function(){
  $.getScript('//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js',function(){
    
    $('#timePicker').datetimepicker({
      pickDate: false
    });
    
  }); //script
}); //script


$(document).ready(function() {});
</script>

<script type="text/javascript" src="js/jquery.vSort.js"></script>
<script type="text/javascript" src="js/jquery.vSort.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.js"></script>
</body>

</html>