<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reportes</title>

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function() {
    var table = $('#tabla').DataTable( {
        responsive: true,
        paging: false
    } );
 
    new $.fn.dataTable.FixedHeader( table );
   } );
 </script> 


</head>
<body>
  

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Barra_Navegacion">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <li><a href="#" class="navbar-brand">PrediApp </a><img src="http://imageshack.com/a/img538/8439/N3lBTg.png" style="width: 40px;height: 40px; margin-top:3px; margin-left:-10px"></li>
      
    </div>
    
    <div class="collapse navbar-collapse" id="Barra_Navegacion"><!-- colapsable -->
      <ul class="nav navbar-nav"> <!-- Navbar left -->
        <li><a href="/"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
       
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-map-marker"></span>Predios <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/edit">Consulta de predio</a></li>
          </ul>
        </li>
       
       
      </ul> <!-- Fin Navbar left -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{user.username}}</a></li>
      </ul>
      <legend style="background-color:red; height:3px; max-width:100%; margin:0px 0px 0px -1px"></legend>

    </div><!-- Fin colapsable -->
    
  </div>
</nav>

<div class="container-fluid">


<div class="row">
  <div class="col-md-3" style="margin-right:0px">
    
<div class="panel panel-default">
  <div class="panel-heading">Reportes</div>
  <div class="panel-body">
    
<form action="." method="POST">
{% for predio in predios %}
<p><a href="/reportes/{{object.id}}">{{object.nombre_predio}}</a></p>
{% endfor %}
</form>
  


  </div>
</div>
  </div><!--col-md-3-->
  
  <div class="col-md-9">
    

<div class="panel panel-default">
  <div class="panel-body"> <!-- Panel -->




<div class="col-md-12" style="border:1px solid #DCDCDC; border-radius:5px"> <!-- md-12 encabezado -->
    <div class="col-md-1" align="center">
      <img src="img/escudo_arauca_mini.png" style="height:70px;width:60px;margin:5px 0px 5px 0px">
    </div>
    <div class="col-md-5">
      <h6 class="text-left" style="margin-top:5px"><strong>REPUBLICA DE COLOMBIA</strong><br>DEPARTAMENTO DE ARAUCA <br> MUNICIPIO DE ARAUCA <br> SAGMA <br>Secretaria de Agricultura, Ganaderia y Medio Ambiente</h6>
    </div>
    <div class="col-md-2">
      
    </div>
    <div class="col-md-2">
    <h6 class="text-right"><strong><br><br><br>Pag.</strong>1 de 1</h6>
    </div>
    <div class="col-md-2" style="border-left:1px solid #DCDCDC">
      <h6 class="text-center"><b><br>FECHA DE REGISTRO:</b></h6>
      <h6 class="text-center">05/09/2014</h6>
    </div>
</div> <!-- fin md-12 encabezado -->

<div class="col-md-12" style="padding-left:0px"> <!-- md-12 -->
    <h6 class="text-right"><strong>Fecha de impresion:</strong> 05/09/2014</h6>
    <h3 class="text-center"><b>FICHA TECNICA DE PREDIOS</b></h3>
    <legend></legend>
    <div class="col-md-8">
      <h6>Nombre del predio:</h6>
    </div>
    <div class="col-md-4">
      <h6>Coordenadas</h6>
    </div>
  </div> <!-- fin md-12 -->
  <div class="col-md-12" style="border:1px solid #DCDCDC; border-radius:5px;padding-left:0px">
    <div class="col-md-8"><h3 style="margin-top:7px"><b>{{predio.nombre_predio}}</b></h3></div>
    <div class="col-md-4" style="border-left: 1px solid #DCDCDC">
      <h6><b>Coordenada(N): </b> {{predio.coordenada_n}}<br><b>Coordenada(W): </b> {{predio.coordenada_n}}</h6>
    </div>
  </div>
  <div class="col-md-6" style="padding-left:0px;margin-bottom:10px"> <!-- md-6 -->
    <h4><b>LOCALIZACION</b></h4>
    <div class="col-md-12" style="border:1px solid #DCDCDC; border-radius:5px;border-bottom:none;padding-left:0px">
      <div class="col-md-4">Descripcion</div>
      <div class="col-md-8">Informacion</div>
    </div>
    <div class="col-md-12" style="border:1px solid #DCDCDC; border-radius:5px;padding-left:0px">
      <div class="col-md-4">
        <h6><b>Municipio:</b></h6>
        <h6><b>Corregimiento:</b></h6>
        <h6><b>Vereda:</b></h6>
        <h6><b>Zona:</b></h6>
      </div>
      <div class="col-md-8">
        <h6>{{predio.municipio}}</h6>
        <h6>{{predio.corregimiento}}</h6>
        <h6>{{predio.vereda}}</h6>
        <h6>{{predio.zona}}</h6>
      </div>
    </div>
</div> <!-- Fin md-6 -->

<div class="col-md-6" style="padding-right:0px;margin-bottom:10px"> <!-- md-6 -->
    <h4><b>OPCIONES DE ADMINISTRACION</b></h4>
    <div class="col-md-12" style="border:1px solid #DCDCDC; border-radius:5px;border-bottom:none;padding-left:0px">
      <div class="col-md-6">Descripcion</div>
      <div class="col-md-6">Informacion</div>
    </div>
    <div class="col-md-12" style="border:1px solid #DCDCDC; border-radius:5px;padding-left:0px">
      <div class="col-md-6">
        <h6><b>Opciones de administracion:</b></h6>
        <h6><b>Propietario:</b></h6>
        <h6><b>Administrador:</b></h6>
        <h6><b>Encargado:</b></h6>
      </div>
      <div class="col-md-6">
        <h6>Propietario</h6>
        <h6>Hugo Enrique Castro Nieves</h6>
        <h6>Paco de Lucia</h6>
        <h6>Luis Perez Ardila</h6>
      </div>
    </div>
</div> <!-- Fin md-6 -->

<h4><b>INFORMACION GENERAL DEL PREDIO</b></h4>
<div class="col-md-12" style="border:1px solid #DCDCDC; border-radius:5px;padding-left:0px;margin-bottom:10px"> <!-- md-12 -->
    <div class="col-md-4">
      <h6><b>Extencion: </b> {{predio.ext_total}}</h6>
      <h6><b>Area en arrendamiento: </b> {{predio.area_arrendamiento}}</h6>
      <h6><b>Tenencia: </b> {{predio.tenencia_finca}}</h6>
      <h6><b>Habitantes: </b> 10</h6>
    </div>
    <div class="col-md-4">
      <h6><b>Centro poblado: </b> {{predio.centro_poblado}}</h6>
      <h6><b>Km a cabecera: </b> {{predio.km_cabecera_mpal}}</h6>    
      <h6><b>Medio transporte: </b> {{predio.medio_transporte_predio}}</h6>
      <h6><b>Acceso al predio: </b> {{predio.acceso_predio_anio}}</h6>
    </div>
    <div class="col-md-4">
      <h6><b>Altitud(msnm): </b> {{predio.altitud}}</h6>
      <h6><b>Precipitacion(mm): </b> {{predio.precipitacion}}</h6>
      <h6><b>Utiliza sabanas comunales: </b> {{predio.utiliza_sabanas_comunales}}</h6>
      <h6><b>Viven de lo que produce la finca: </b> {{predio.viven_producido}}</h6>
    </div>
</div> <!-- Fin md-12 -->
<div class="col-md-12">
  <h4 class="text-left"><b>INFORMACION ORGANIZACIONAL DEL PREDIO</b></h4>
</div>
<div class="col-md-12" style="padding:0px;border:1px solid #DCDCDC; border-radius:5px;"> <!-- md-12 -->
  <div class="col-md-3">
    <h5><b>INFORMACION</b></h5>
    <legend></legend>
    <h6><b>PROPIETARIO:</b></h6>
    <h6><b>DOCUMENTO:</b></h6>
    <h6><b>FECHA NACIMIENTO:</b></h6>
    <h6><b>E-MAIL:</b></h6>
    <h6><b>DIRECCION RES.</b></h6>
    <h6><b>TELEFONO</b></h6>
  </div>
  <div class="col-md-3"> <!-- md-3 -->
    <h5><b>PROPIETARIO</b></h5>
    <legend></legend>
    <h6>{{propietario.primer_nombre}} {{propietario.primer_apellido}}</h6>
    <h6>{{propietario.numero_identificacion}}</h6>
    <h6>{{propietario.fecha_nacimiento}}</h6>
    <h6>{{propietario.email}}</h6>
    <h6>{{propietario.direccion_residencia}}</h6>
    <h6>{{propietario.telefono}}</h6>
  </div> <!-- Fin md-3 -->
  <div class="col-md-3"> <!-- md-3 -->
    <h5><b>ADMINISTRADOR</b></h5>
    <legend></legend>
    <h6>{{administrador.primer_nombre}} {{propietario.primer_apellido}}</h6>
    <h6>{{administrador.numero_identificacion}}</h6>
    <h6>{{administrador.fecha_nacimiento}}</h6>
    <h6>{{administrador.email}}</h6>
    <h6>{{administrador.direccion_residencia}}</h6>
    <h6>{{administrador.telefono}}</h6>
  </div> <!-- Fin md-3 -->
  <div class="col-md-3"> <!-- md-3 -->
    <h5><b>ENCARGADO</b></h5>
    <legend></legend>
    <h6>{{encargado.primer_nombre}} {{propietario.primer_apellido}}</h6>
    <h6>{{encargado.numero_identificacion}}</h6>
    <h6>{{encargado.fecha_nacimiento}}</h6>
    <h6>{{encargado.email}}</h6>
    <h6>{{encargado.direccion_residencia}}</h6>
    <h6>{{encargado.telefono}}</h6>
  </div> <!-- Fin md-3 -->
</div> <!-- Fin md-12 -->

<div class="col-md-12">
  <h4 class="text-left"><b>VIVIENDA E INFRAESTRUCTURA</b></h4>
</div>
<div class="col-md-12" style="padding:0px;border:1px solid #DCDCDC; border-radius:5px;"> <!-- md-12 -->
  <div class="col-md-4"> <!-- md-4 -->
    {% for vivienda in vivienda %}
    <h6><b>POSEE VIVIENDA: </b> {{vivienda.posee_vivienda}}</h6>
    <h6><b>TIPO DE CUBIERTA: </b> {{vivienda.cubierta}}</h6>
    <h6><b>TIPO DE CONSTRUCCION: </b>{{vivienda.tipo_construccion}}</h6>
    <h6><b>ESTADO DE SANEAMIENTO: </b> {{vivienda.estado_saneamiento}}</h6>
  </div> <!-- Fin md-4 -->
  <div class="col-md-4"> <!-- md-4 -->
    <h6><b>BATERIA SANITARIA: </b> {{vivienda.bateria_sanitaria}}</h6>
    <h6><b>ENERGIA ELECTRICA: </b> {{vivienda.energia_electrica}}</h6>
    <h6><b>ENERGIA ALTERNATIVA: </b> {{vivienda.energia_alternativa}}</h6>
    <h6><b>TIPO ENERGIA ALTERNATIVA: </b> {{vivienda.fuente_energia}}</h6>
  </div> <!-- Fin md-4 -->
  <div class="col-md-4"> <!-- md-4 -->
    <h6 class="text-left"><b>FUENTE DE ENERGIA PARA LA PREPARACION DE ALIMENTOS: </b></h6>
    <h6>Leña; Gas propano; Keroseno; Electricidad; Carbon; Estiercol seco; Energia solar; Gas metano(Biodigestor)</h6>
  </div> <!-- Fin md-4 -->
</div> <!-- Fin md-12 -->
{% endfor %} <!--for vivienda-->
<div class="col-md-12">
  <h4 class="text-left"><b>CREDITOS</b></h4>
</div>
<div class="col-md-12" style="padding:0px;border:1px solid #DCDCDC; border-radius:5px;"> <!-- md-12 -->
  <div class="col-md-6"> <!-- md-6 -->
    <h6><b>CANTIDAD DE CREDITOS: </b> 3</h6>
    <h6><b>USO PRINCIPAL DEL CREDITO: </b> Compra de ganado</h6>
    <h6><b>TIENE INGRESOS EXTERNOS: </b> Si</h6>
  </div> <!-- Fin md-6 -->
  <div class="col-md-6"> <!-- md-6 -->
    <h6><b>POSEE ALGUN INCENTIVO: </b> 3</h6>
    <h6><b>TIPO DE INCENTIVO: </b> Certificado de incentivo agroforestal</h6>
  </div> <!-- Fin md-6 -->
</div> <!-- Fin md-12 -->

<div class="col-md-12" style="padding:0px;border:1px solid #DCDCDC; border-radius:5px;margin-top:20px"> <!-- md-12 -->
  <div class="col-md-4"> <!-- md-4 -->
    <h5><b>CREDITO N° 1</b></h5>
    <legend></legend>
    <h6><b>ORIGEN DEL CREDITO: </b> Banco Agrario</h6>
    <h6><b>LUGAR DE EXPEDICION: </b> Arauca</h6>
    <h6><b>PAGO O CUOTA: </b> $22.500.000.00</h6>
    <h6><b>TIPO DE PAGO: </b> Semestral</h6>
  </div> <!-- Fin md-4 -->
  <div class="col-md-4"> <!-- md-4 -->
    <h5><b>CREDITO N° 2</b></h5>
    <legend></legend>
    <h6><b>ORIGEN DEL CREDITO: </b> Banco Agrario</h6>
    <h6><b>LUGAR DE EXPEDICION: </b> Arauca</h6>
    <h6><b>PAGO O CUOTA: </b> $22.500.000.00</h6>
    <h6><b>TIPO DE PAGO: </b> Semestral</h6>
  </div> <!-- Fin md-4 -->
  <div class="col-md-4"> <!-- md-4 -->
    <h5><b>CREDITO N° 3</b></h5>
    <legend></legend>
    <h6><b>ORIGEN DEL CREDITO: </b> Banco Agrario</h6>
    <h6><b>LUGAR DE EXPEDICION: </b> Arauca</h6>
    <h6><b>PAGO O CUOTA: </b> $22.500.000.00</h6>
    <h6><b>TIPO DE PAGO: </b> Semestral</h6>
  </div> <!-- Fin md-4 -->
</div> <!-- Fin md-12 -->

<div class="col-md-12">
  <h4 class="text-left"><b>FUENTES DE AGUA Y CONSERVACION</b></h4>
</div>
<div class="col-md-12" style="padding:0px;border:1px solid #DCDCDC; border-radius:5px;"> <!-- md-12 -->
  <div class="col-md-5"> <!-- md-5 -->
    <h5><b>VIVIENDA Y NACIMIENTOS</b></h5>
    <legend></legend>
    <h6><b>CORRIENTES DE AGUA PRESENTES: </b> 3</h6>
    <h6><b>ZONAS NATURALES DE CONCENTRACION DE AGUA: </b> Si</h6>
    <h6><b>PROTEJE CORRIENTES Y ZONAS NATURALES: </b> Si</h6>
    <h6><b>FORMAS DE PROTECCION: </b> Proteccion con cerca electrica o alambre de pua</h6>
  </div> <!-- md-5 -->
  <div class="col-md-7"> <!-- md-7 -->
    <h5><b>VIVIENDA Y USOS</b></h5>
    <legend></legend>
    <h6 class="tex-left"><b>AGUA DE USO DOMESTICO: </b> Laguna; Acueducto; Rio; Cañada; Lagos; Caños; Pozo profundo con filtrado; Pozo profundo sin filtrado</h6>
    <h6 class="text-left"><b>SISTEMA DE SUCCION DE AGUA: </b> Motobomba; Electrobomba; Bomba manual</h6>
    <h6 class="text-left"><b>AGUA PARA LA PRODUCCION: </b> Laguna; Acueducto; Rio; Cañada; Lagos; Caños; Pozo profundo con filtrado; Pozo profundo sin filtrado</h6>
  </div> <!-- Fin md-7 -->
</div> <!-- Fin md-12 -->

<div class="col-md-12" style="padding:0px">
  <h4 class="text-left"><b>USOS DEL SUELO</b></h4>
  <div class="table-responsive">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th><h5><b>Actividades pecuarias</b></h5></th>
        <th><span class="glyphicon glyphicon-minus"></span></th>
        <th><h5><b>Cultivos agricolas</b></h5></th>
        <th><span class="glyphicon glyphicon-minus"></span></th>
        <th><h5><b>Plantaciones forestales</b></h5></th>
        <th><span class="glyphicon glyphicon-minus"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Areas de pastoreo</b></td>
        <td><span class="glyphicon glyphicon-minus"></span></td>
        <td><b>Homogeneos</b></td>
        <td><span class="glyphicon glyphicon-minus"></span></td>
        <td><b>Homogeneas</b></td>
        <td><span class="glyphicon glyphicon-minus"></span></td>
      </tr>
      <tr>
        <td>Pasturas nativas sin arboles</td>
        <td>{{pastoreo.pasturas_nativas_sin_arboles}}</td>
        <td>Maiz</td>
        <td>{{agricolasyforestales.maiz}}</td>
        <td>Eucalipto</td>
        <td>{{agricolasyforestales.eucalipto}}</td>
      </tr>
      <tr>
        <td>Pasturas introducidas sin arboles</td>
        <td>{{pastoreo.pasturas_introducidas_sin_arboles}}</td>
        <td>Platano</td>
        <td>{{agricolasyforestales.platano}}</td>
        <td>Pino</td>
        <td>{{agricolasyforestales.pino}}</td>
      </tr>
      <tr>
        <td><b>Sistemas silvopastoriles</b></td>
        <td><span class="glyphicon glyphicon-minus"></span></td>
        <td>Cafe</td>
        <td>{{agricolasyforestales.cafe}}</td>
        <td>Teca</td>
        <td>{{agricolasyforestales.teca}}</td>
      </tr>
      <tr>
        <td>SSPi</td>
        <td>{{pastoreo.sistema_silvopastoril_intensivo}}</td>
        <td>Yuca</td>
        <td>10</td>
        <td>Pino</td>
        <td>20</td>
      </tr>
      <tr>
        <td>SSPi con maderables</td>
        <td>{{pastoreo.sistema_silvopastoril_intensivo_con_maderables}}</td>
        <td><b>Mixtos</b></td>
        <td><span class="glyphicon glyphicon-minus"></span></td>
        <td>Mixtas</td>
        <td><span class="glyphicon glyphicon-minus"></span></td>
      </tr>
      <tr>
        <td>Arboles dispersos en potreros</td>
        <td>{{pastoreo.arboles_dispersos_en_potreros}}</td>
        <td>Maiz con platano</td>
        <td>{{agricolasyforestales.maiz_con_platano}}</td>
        <td>Teca mas melina</td>
        <td>{{agricolasyforestales.teca_mas_melina}}</td>
      </tr>
      <tr>
        <td>Franjas dobles de arboles en potreros</td>
        <td>{{pastoreo.franjas_dobles_arboles_en_potreros}}</td>
        <td>Platano con cafe</td>
        <td>{{agricolasyforestales.platano_con_cafe}}</td>
        <td>Pardillo mas tolua</td>
        <td>{{agricolasyforestales.pardillo_mas_tolua}}</td>
      </tr>
      <tr>
        <td>Cercas vivas</td>
        <td>{{pastoreo.cercas_vivas}}</td>
        <td>Platano con cacao</td>
        <td>{{agricolasyforestales.platano_con_cacao}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Pastoreo en plantanciones forestales</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Bancos de forraje</b></td>
        <td><span class="glyphicon glyphicon-minus"></span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Bancos de energia(Gramineas)</td>
        <td>{{bancosforraje.bancos_energia}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Bancos de proteina</td>
        <td>{{bancosforraje.bancos_proteina}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Bancos mixtos</td>
        <td>{{bancosforraje.bancos_mixtos}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th><h5><b>Total:</b></h5></th>
        <th><h5><b>253</b></h5></th>
        <th><h5><b>Total:</b></h5></th>
        <th><h5><b>140</b></h5></th>
        <th><h5><b>Total:</b></h5></th>
        <th><h5><b>160</b></h5></th>
      </tr>
    </thead>
  </table>
</div>
<!--<div class="table-responsive">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th><b>Sistemas agroforestales</b></th>
        <th><span class="glyphicon glyphicon-minus"></span></th>
        <th>Bosques y areas de conservacion</th>
        <th><span class="glyphicon glyphicon-minus"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Eucalipto</td>
        <td>20</td>
        <td><b>Bosques</b></td>
        <td>20</td>
      </tr>
      <tr>
        <td>Pino</td>
        <td>0</td>
        <td>Bosques de galeria</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Teca</td>
        <td>0</td>
        <td>Mata de monte</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Pino</td>
        <td>0</td>
        <td><b>Zonas de conservacion</b></td>
        <td>28</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Areas en regeneracion natural</td>
        <td>8</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Morichal</td>
        <td>20</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th><b>Total:</b></th>
        <th><b>20</b></th>
        <th><b>Total:</b></th>
        <th><b>96</b></th>
      </tr>
    </thead>
  </table>
</div>-->
</div>
<div class="col-md-12">
    <h4 class="text-left"><b>INDICADORES ECONOMICOS DEL HATO - INVENTARIO ANIMAL</b></h4>
      <div class="table-responsive">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th><b>Hembras</b></th>
              <th><b>Prop</b></th>
              <th><b>Ajen</b></th>
              <th><b>Total</b></th>
              <th><b>Machos</b></th>
              <th><b>Prop</b></th>
              <th><b>Ajen</b></th>
              <th><b>Total</b></th>
              <th><b>Otras especies</b></th>
              <th><b>Prop</b></th>
              <th><b>Ajen</b></th>
              <th><b>Total</b></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><h6>Vacas paridas</h6></td>
              <td>10</td>
              <td>20</td>
              <td>5</td>
              <td><h6>Toros</h6></td>
              <td>20</td>
              <td>20</td>
              <td>20</td>
              <td><h6>Caballares</h6></td>
              <td>20</td>
              <td>20</td>
              <td>20</td>
            </tr>
            <tr>
              <td><h6>Vacas horras(Secas)</h6></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td><h6>Machos mayores 3 años</h6></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td><h6>Mulares</h6></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><h6>Hembras 2 a 3 años</h6></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td><h6>Machos entre 2 a 3 años</h6></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td><h6>Porcinos</h6></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><h6>Hembras 1 a 2 años</h6></td>
              <td>8</td>
              <td>8</td>
              <td>8</td>
              <td><h6>Machos 1 a 2 años</h6></td>
              <td>8</td>
              <td>8</td>
              <td>8</td>
              <td><h6>Aves</h6></td>
              <td>8</td>
              <td>8</td>
              <td>8</td>
            </tr>
            <tr>
              <td><h6>Hembras menores 1 año</h6></td>
              <td>18</td>
              <td>18</td>
              <td>18</td>
              <td><h6>Machos menores 1 año</h6></td>
              <td>18</td>
              <td>18</td>
              <td>18</td>
              <td><h6>Ovinos</h6></td>
              <td>18</td>
              <td>18</td>
              <td>18</td>
            </tr>
            <tr>
              <td><h6>Animal saca o descarte</h6></td>
              <td>18</td>
              <td>18</td>
              <td>18</td>
              <td><h6>Bueyes</h6></td>
              <td>18</td>
              <td>18</td>
              <td>18</td>
              <td><h6>Caprinos</h6></td>
              <td>18</td>
              <td>18</td>
              <td>18</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><h6>Peces</h6></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><h6>Bufalos</h6></td>
              <td>8</td>
              <td>8</td>
              <td>8</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th><b>Total:</b></th>
              <th></th>
              <th></th>
              <th>118</th>
              <th><b>Total:</b></th>
              <th></th>
              <th></th>
              <th>118</th>
              <th><b>Total:</b></th>
              <th></th>
              <th></th>
              <th>64</th>
            </tr>
          </thead>
        </table>
    </div>
</div>


<div class="col-md-12">
  <h4 class="text-left"><b>INDICADORES ECONOMICOS DEL HATO - PARAMETROS PRODUCTIVOS</b></h4>
      <div class="table-responsive">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th><b>Doble proposito</b></th>
              <th><b>Cnt.</b></th>
              <th><b>Unid.</b></th>
              <th><b>Levante</b></th>
              <th><b>Cnt.</b></th>
              <th><b>Unid.</b></th>
              <th><b>Ceba</b></th>
              <th><b>Cnt.</b></th>
              <th><b>Unid.</b></th> 
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Peso de vaca en produccion</td>
              <td>20</td>
              <td>Kg</td>
              <td>Peso al destete</td>
              <td>20</td>
              <td>Kg</td>
              <td>Peso inicial ceba</td>
              <td>20</td>
              <td>Kg</td>
            </tr>
            <tr>
              <td>Litro por vaca dia</td>
              <td>0</td>
              <td>Lts</td>
              <td>Edad del levante</td>
              <td>0</td>
              <td>Dia</td>
              <td>Edad de ceba</td>
              <td>0</td>
              <td>Dias</td>
            </tr>
            <tr>
              <td>Duracion de lactancia</td>
              <td>0</td>
              <td>Dias</td>
              <td>Peso final del levante</td>
              <td>0</td>
              <td>Kg</td>
              <td>Peso final de ceba</td>
              <td>0</td>
              <td>Kg</td>
            </tr>
            <tr>
              <td>Dias abiertos</td>
              <td>8</td>
              <td>Kg</td>
              <td>Ganancia diaria de peso(GDP)</td>
              <td>8</td>
              <td>Kg/Dia</td>
              <td>Ganancia diaria de peso(GDP)</td>
              <td>0</td>
              <td>Kg/Dia</td>
            </tr>
            <tr>
              <td>Peso de la cria al nacimiento</td>
              <td>18</td>
              <td>Kg</td>
              <td>Tiempo periodo levante</td>
              <td>18</td>
              <td>Dias</td>
              <td>Tiempo periodo de ceba</td>
              <td>18</td>
              <td>Dias</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Carga animal(UGG)</td>
              <td>18</td>
              <td>UGG</td>
              <td>Carga animal(UGG)</td>
              <td>18</td>
              <td>UGG</td>
            </tr>
          </tbody>
          
        </table>
    </div>
</div>

<div class="col-md-12">
  <h4 class="text-left"><b>VENTA DE LACTEOS Y COSTOS</b></h4>
  <div class="table-responsive">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th><b>Produccion leche</b></th>
              <th><b>Cnt.</b></th>
              <th><b>Unid.</b></th>
              <th><b>Produccion queso</b></th>
              <th><b>Cnt.</b></th>
              <th><b>Unid.</b></th>
              <th><b>Otros derivados</b></th>
              <th><b>Cnt.</b></th>
              <th><b>Unid.</b></th> 
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Total producido por litro dia</td>
              <td>20</td>
              <td>Lts</td>
              <td>Queso de mano</td>
              <td>20</td>
              <td>Kg</td>
              <td>Mantequilla</td>
              <td>20</td>
              <td>Kg</td>
            </tr>
            <tr>
              <td>Cantidad para productos lacteos</td>
              <td>0</td>
              <td>Lts</td>
              <td>Queso cuajada</td>
              <td>0</td>
              <td>Kg</td>
              <td>Yogurth</td>
              <td>0</td>
              <td>Kg</td>
            </tr>
            <tr>
              <td>Cantidad para autoconsumo x dia</td>
              <td>0</td>
              <td>Lts/Dia</td>
              <td>Queso prensado</td>
              <td>0</td>
              <td>Kg</td>
              <td>Kumis</td>
              <td>0</td>
              <td>Kg</td>
            </tr>
            <tr>
              <td>Precio por litro de leche</td>
              <td>8</td>
              <td>$</td>
              <td>Queso madurado</td>
              <td>8</td>
              <td>Kg</td>
              <td>Dulces(Arequipe, cortado)</td>
              <td>0</td>
              <td>Kg</td>
            </tr>
            <tr>
              <td>Promedio vacas ordeñadas x dia</td>
              <td>18</td>
              <td>Cnt/Dia</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
          
        </table>

    </div>

</div>
<div class="col-md-12" style="margin-top:-10px; margin-bottom:10px"> <!-- md-12 Agregar-->
  <h5><b>Comprador de leche producida en el predio: </b> Centro de acopio; Empresa de derivado lacteo; Comprador informal; otro</h5>
</div> <!-- Fin md-12 Agregar-->

<div class="col-md-12">
  <h4 class="text-left"><b>COSTOS DE PRODUCCION</b></h4>
</div>
<div class="col-md-12" style="padding:0px;border:1px solid #DCDCDC; border-radius:5px;"> <!-- md-12 -->
  <div class="col-md-6"> <!-- md-6 -->
    <div class="col-md-4" style="margin-left:-20px">
      <h5><b>Suplementos</b></h5>
      <legend></legend>
      <h6>Sal blanca</h6>
      <h6>Sal mineralizada</h6>
      <h6>Premezcla mineral</h6>
      <h6>Azufre</h6>
      <h6>Concent. comerial</h6>
      <h6>Melaza</h6>
      <h6>Heno</h6>
      <h6>Ensilaje</h6>
    </div>
    <div class="col-md-1">
      <h5><b>Cant</b></h5>
      <legend></legend>
      <h6>4</h6>
      <h6>2</h6>
      <h6>3</h6>
      <h6>8</h6>
      <h6>2</h6>
      <h6>20</h6>
      <h6>1</h6>
      <h6>2</h6>
    </div>
    <div class="col-md-1">
      <h5><b>Unid</b></h5>
      <legend></legend>
      <h6>Kg</h6>
      <h6>Kg</h6>
      <h6>Kg</h6>
      <h6>Kg</h6>
      <h6>Kg</h6>
      <h6>Kg</h6>
      <h6>Kg</h6>
      <h6>Kg</h6>
    </div>
    <div class="col-md-3">
      <h5><b>Valor unit</b></h5>
      <legend></legend>
      <h6>$200.000.00</h6>
      <h6>$150.000.00</h6>
      <h6>$250.000.00</h6>
      <h6>$100.000</h6>
      <h6>$350.000.00</h6>
      <h6>$1.000.000</h6>
      <h6>$39.000.000.00</h6>
      <h6>$6.000.000.00</h6>
    </div>
    <div class="col-md-3">
      <h5><b>Valor total</b></h5>
      <legend></legend>
      <h6>$800.000.00</h6>
      <h6>$300.000.00</h6>
      <h6>$750.000.00</h6>
      <h6>$800.000</h6>
      <h6>$700.000.00</h6>
      <h6>$20.000.000</h6>
      <h6>$39.000.000.00</h6>
      <h6>$12.000.000.00</h6>
    </div>
  </div> <!-- fin md-6 -->
  <div class="col-md-6"> <!-- md-6 -->
    <div class="col-md-4" style="margin-left:-20px">
      <h5><b>Insumos</b></h5>
      <legend></legend>
      <h6>Baños cnt parasitos</h6>
      <h6>Alambre de pua</h6>
      <h6>Alambre cerca elct</h6>
      <h6>Gallinaza compost</h6>
      <h6>Servic veterinarios</h6>
      <h6>Postes</h6>
      <h6>Mdtos y vacunas</h6>
      <h6>Herbicidas</h6>
      <h6>Fertiliznt quimicos</h6>
      <h6>Fertiliznt organicos</h6>
      <h6>Antiparasitarios</h6>
      <h6>Herramient y acces</h6>
      <h6></h6>
    </div>
    <div class="col-md-1">
      <h5><b>Cant</b></h5>
      <legend></legend>
      <h6>10</h6>
      <h6>1000</h6>
      <h6>400</h6>
      <h6>100</h6>
      <h6>50</h6>
      <h6>20</h6>
      <h6>60</h6>
      <h6>200</h6>
      <h6>20</h6>
      <h6>60</h6>
      <h6>200</h6>
      <h6>200</h6>
    </div>
    <div class="col-md-1">
      <h5><b>Unid</b></h5>
      <legend></legend>
      <h6>Kg</h6>
      <h6>Kg</h6>
      <h6>Kg</h6>
      <h6>Kg</h6>
      <h6>Kg</h6>
      <h6>Kg</h6>
      <h6>Kg</h6>
      <h6>Kg</h6>
      <h6>Kg</h6>
      <h6>Kg</h6>
      <h6>Kg</h6>
      <h6>Kg</h6>
    </div>
    <div class="col-md-3">
      <h5><b>Valor unt</b></h5>
      <legend></legend>
      <h6>$50.000.00</h6>
      <h6>$100.000.00</h6>
      <h6>$150.000.00</h6>
      <h6>$50.000.00</h6>
      <h6>$250.000.00</h6>
      <h6>$1.000.000.00</h6>
      <h6>$39.000.000.00</h6>
      <h6>$6.000.000.00</h6>
      <h6>$1.000.000.00</h6>
      <h6>$39.000.000.00</h6>
      <h6>$39.000.000.00</h6>
      <h6>$6.000.000.00</h6>
    </div>
    <div class="col-md-3">
      <h5><b>Valor total</b></h5>
      <legend></legend>
      <h6>$500.000.00</h6>
      <h6>$10.000.000.00</h6>
      <h6>$35.150.000.00</h6>
      <h6>$2.500.000.00</h6>
      <h6>$250.000.00</h6>
      <h6>$1.000.000.00</h6>
      <h6>$39.000.000.00</h6>
      <h6>$6.000.000.00</h6>
      <h6>$1.000.000.00</h6>
      <h6>$39.000.000.00</h6>
      <h6>$39.000.000.00</h6>
      <h6>$6.000.000.00</h6>
    </div>
  </div> <!-- fin md-6 -->
  <div class="col-md-6" style="border-top:1px solid #DCDCDC"> <!-- md-6 -->
    <h5 class="text-right"><b>TOTAL SUPLEMENTOS: $74.350.000.00</b></h5>
  </div> <!-- fin md-6 -->
  <div class="col-md-6" style="border-top:1px solid #DCDCDC"> <!-- md-6 -->
    <h5 class="text-right"><b>TOTAL INSUMOS: $126.550.000.00</b></h5>
  </div> <!-- fin md-6 -->
</div> <!-- Fin md-12 -->

<div class="col-md-12">
  <h4 class="text-left"><b>MANEJO GENERAL DE LA FINCA</b></h4>
</div>
<div class="col-md-12" style="padding:0px;border:1px solid #DCDCDC; border-radius:5px;"> <!-- md-12 -->
  <div class="col-md-6"> <!-- md-6 -->
    <h5><b>MANEJO GENERAL</b></h5>
    <legend></legend>
    <h6><b>Tipo de ordeño: </b> Manual con el apoyo del ternero</h6>
    <h6><b>Sitema de reproduccion utilizado: </b> Inseminacion artificial tiempo fijo(IATF)</h6>
    <h6><b>Realiza chequeos reproductivos: </b>Si</h6>
    <h6><b>Chequeos utilizados: </b> Palpacion rectal</h6>
    <h6><b>Cria el ternero macho: </b> Si</h6>
    <h6><b>Edad de cria: </b> 12(Meses)</h6>
    <h6><b>Numero de hectareas en arriendo: </b> 10</h6>
    <h6><b>Pago por animal: </b> $4.500.000</h6>
    <h6><b>Pago por hectarea: </b> $2.000.000</h6>
  </div> <!-- Fin md-6 -->
  <div class="col-md-6"> <!-- md-6 -->
    <h5><b>MANEJO DE POTREROS</b></h5>
    <legend></legend>
    <h6><b>Cantidad de potrero en el predio: </b> 3</h6>
    <h6><b>Tipo de pastoreo: </b> Pastoreo rotacional</h6>
    <h6><b>Manejo de praderas en epocas de lluvia</b></h6>
    <h6><b>Dias de descanso: </b> 25</h6>
    <h6><b>Dias de ocupacion: </b> 22</h6>
    <h6><b>Manejo de praderas en epocas de sequia</b></h6>
    <h6><b>Dias de descanso: </b> 25</h6>
    <h6><b>Dias de ocupacion: </b> 22</h6>
    <h6><b>Edad de cria: </b> 12(Meses)</h6>
    <h6><b>Cuantas veces al año limpia o desmaleza sus potreros: </b> 4 veces al año</h6>
    <h6><b>Metodo mas frecuente para desmalezar: </b> Pastoreo del ganado</h6>
  </div> <!-- Fin md-6 -->
  <div class="col-md-6" style="border-top:1px solid #DCDCDC"> <!-- md-6 -->
    <h5><b>ENFERMEDADES Y PROBLEMAS SANITARIOS</b></h5>
    <legend></legend>
    <h6><b>Enfermedades y problemas sanitarios mas frecuentes:</b></h6>
    <h6>Renquera; secadera - Tripanosomiasis</h6>
    <h6><b>Vacunas aplicadas al ganado:</b></h6>
    <h6>Bruselosis; Leptospira; Aftosa</h6>
    <h6><b>Frecuencia de aplicacion de vacunas en el predio: </b> 4 veces al año</h6>
  </div> <!-- Fin md-6 -->
  <div class="col-md-6" style="border-top:1px solid #DCDCDC"> <!-- md-6 -->
    <h5><b>LABORES PRACTICADAS EN LOS ANIMALES</b></h5>
    <legend></legend>
    <h6><b>Labores practicadas al ganado:</b></h6>
    <h6>Topizada en caliente; Desinfeccion de ombligo; Topizada en frio(Crema); Vermifugacion; Control octoparasitos(Mosca, garrapata, etc)</h6>
  </div> <!-- Fin md-6 -->
</div> <!-- Fin md-12 -->

<div class="col-md-12">
  <h4 class="text-left"><b>AGROECOTURISMO</b></h4>
</div>
<div class="col-md-12" style="padding:0px;border:1px solid #DCDCDC; border-radius:5px;"> <!-- md-12 -->
  <div class="col-md-6">
    <h6><b>Ha prestado algun tipo de servicio de agroecoturismo: </b> No</h6>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h5><b>Atractivos en la finca</b></h5>
    <legend></legend>
    <h6>Fauna; Gastronomia; Senderos ecologicos; Artesanias</h6>
    </div>
    <div class="col-md-6">
      <h5><b>Actividades</b></h5>
    <legend></legend>
    <h6>Cabalgata; Recorridos tematicos; Participar en actividades del llano</h6>
    </div>
  </div>
  <div class="col-md-12" style="padding:5px">
  <h6>Observaciones</h6>
    <textarea rows="3" class="form-control"></textarea>
  </div>
</div> <!-- Fin md-12 -->

  </div> <!-- Fin Panel -->
</div>
  


  </div><!--col-md-9-->

</div><!--row-->




</div><!--fluid-->

</body>

</html>
  