{% extends './base.html' %}

{% block js %}

<script> 
  $(function () {
        $("#myTab a:contains('Usos del suelo')").parent().addClass('active');        
     });

$(document).ready(function() {
  $('#form').ajaxForm(function() {
    alert("Bancos forraje guardado exitosamente");
    window.location.href = '/usossuelo/cultivos-agricolas/{{object.predio_id}}';
  }); 
});

  
</script>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/usossuelo/pastoreo/{{object.predio_id}}">Actividades Pecuarias </a></li>
  <li role="presentation"><a href="/usossuelo/cultivos-agricolas/{{object.predio_id}}">Actividades agricolas y forestales </a></li>
  <!--<li role="presentation"><a href="/usossuelo/conservacion-natural/">Bosques, areas de conservacion y sistemas agroforestales </a></li>-->
</ul>

<form action="." method="POST" id="form">{% csrf_token %}
 <div class="span6" style="margin-top:40px">
              <ul class="inline">
                <li style="margin-right:180px"><p class="text-info">Bancos de forraje</p></li>
                <li><p class="text-info">Has</p></li>
              </ul>
              <ul class="inline">
                <li style="margin-right:30px">Bancos de energ&iacute;a (Gram&iacute;neas o pastos)</li>
                <li>{{form.bancos_energia}}</li>
              </ul>
              <ul class="inline">
                <li style="margin-right:168px">Bancos de prote&iacute;na</li>
                <li>{{form.bancos_proteina}}</li>
              </ul>
              <ul class="inline">
                <li style="margin-right:199px">Bancos mixtos</li>
                <li>{{form.bancos_mixtos}}</li>
              </ul>

<input type="submit"  value="Guardar">
</form> 

<nav>
  <ul class="pager">
    <li class="previous"><a href="/usossuelo/pastoreo/{{object.predio_id}}"><span aria-hidden="true">&larr;</span> Pastoreo</a></li>
  </ul>
</nav>


            </div>


<!--
  <form action="." method="POST" id="form">{% csrf_token %}
    {{form.as_p}}
    <p><input type="submit" value="Guardar"></p>
  </form>
-->


</div>

{% endblock %}