{% extends './base.html' %}

{% block js %}

<script> 
  $(function () {
        $("#myTab a:contains('Usos del suelo')").parent().addClass('active');        
     });

$(document).ready(function() {
  $('#form').ajaxForm(function() {
    alert("Pastoreo guardado exitosamente");
    window.location.href = '/usossuelo/bancos-forraje/{{object.predio_id}}';
  }); 
});

  
</script>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/usossuelo/pastoreo/{{object.predio_id}}">Actividades Pecuarias </a></li>
  <li role="presentation"><a href="/usossuelo/cultivos-agricolas/{{object.predio_id}}">Actividades agricolas y forestales </a></li>
  <!--<li role="presentation"><a href="/usossuelo/conservacion-natural/">Bosques, areas de conservacion y sistemas agroforestales </a></li>-->
</ul>

</br>
<form action="." method="POST" id="form">{% csrf_token %}
<div class="tab-content">
           <div class="tab-pane active" id="pecuarias">
           <div class="row-fluid">           
            <div class="span6">
            <h4>Actividades pecuarias</h4>
             <ul class="inline">
               <li style="margin-right:180px"><p class="text-info">&Aacute;reas de pastoreo</p></li>
               <li><p class="text-info">Has</p></li>
             </ul>
             <ul class="inline">
               <li style="margin-right:120px">Pasturas nativas sin &aacute;rboles</li>
               <li>{{form.pasturas_nativas_sin_arboles}}</li>
             </ul>
             <ul class="inline">
               <li style="margin-right:88px">Pasturas introducidas sin arboles</li>
               <li>{{form.pasturas_introducidas_sin_arboles}}</li>
             </ul>
             <ul class="inline">
               <li style="margin-right:108px">&Aacute;rboles dispersos en potreros</li>
               <li>{{form.arboles_dispersos_en_potreros}}</li>
             </ul>
             <ul class="inline">
               <li style="margin-right:56px">Franjas dobles de arboles en potreros</li>
               <li>{{form.franjas_dobles_arboles_en_potreros}}</li>
             </ul>
             <ul class="inline">
               <li style="margin-right:217px">Cercas vivas</li>
               <li>{{form.cercas_vivas}}</li>
             </ul>
             <ul class="inline">
               <li style="margin-right:65px">Sistema Silvopastoril Intensivo (SSPi)</li>
               <li>{{form.sistema_silvopastoril_intensivo}}</li>
             </ul>
             <ul class="inline">
               <li style="margin-right:152px">(SSPi) con maderables</li>
               <li>{{form.sistema_silvopastoril_intensivo_con_maderables}}</li>
             </ul>


<input type="submit"  value="Guardar">
</form>

</div>


<nav>
  <ul class="pager">
    <!--<li class="previous"><a href="/hato/hembras"><span aria-hidden="true">&larr;</span> Hembras</a></li>-->
    <li class="next"><a href="/usossuelo/bancos-forraje/{{object.predio_id}}">Bancos forraje <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>


</div>

{% endblock %}