{% extends './base.html' %}

{% block js %}

<script> 
  $(function () {
        $("#myTab a:contains('Indicadores económicos del Hato')").parent().addClass('active');        
     });


$(document).ready(function() {
  $('#form').ajaxForm(function() {
    alert("Parámetros productivos guardados exitosamente");
    window.location.href = '/lacteos/produccion-leche/{{object.predio_id}}';
  }); 
});
  
$(document).ready(function(){

$("#id_peso_destete").on('keyup mouseup keypress blur focusin bind',function(){
  var peso_destete_levante = $("#id_peso_destete").val();
  var peso_final_levante = $("#id_peso_final_levante").val();       
  var tiempo = $("#id_tiempo_periodo_levante").val();
  var resta = Number(peso_final_levante)-Number(peso_destete_levante);    
  console.log((resta)/tiempo)
  var resultado = (resta)/tiempo
  $("#id_ganancia_diaria_peso_levante").val(resultado);     
}); //peso inicial levante

$("#id_peso_final_levante").on('keyup mouseup keypress blur focusin bind',function(){
  var peso_destete_levante = $("#id_peso_destete").val();
  var peso_final_levante = $("#id_peso_final_levante").val();       
  var tiempo = $("#id_tiempo_periodo_levante").val();
  var resta = Number(peso_final_levante)-Number(peso_destete_levante);    
  console.log((resta)/tiempo)
  var resultado = (resta)/tiempo
  $("#id_ganancia_diaria_peso_levante").val(resultado);     
}); //peso final levante
  
$("#id_tiempo_periodo_levante").on('keyup mouseup keypress blur focusin bind',function(){
  var peso_destete_levante = $("#id_peso_destete").val();
  var peso_final_levante = $("#id_peso_final_levante").val();       
  var tiempo = $("#id_tiempo_periodo_levante").val();
  var resta = Number(peso_final_levante)-Number(peso_destete_levante);    
  console.log((resta)/tiempo)
  var resultado = (resta)/tiempo
  $("#id_ganancia_diaria_peso_levante").val(resultado);     
}); //tiempo periodo levante


//Ceba
$("#id_peso_inicial_ceba").on('keyup mouseup keypress blur focusin bind',function(){
  var peso_inicial_ceba = $("#id_peso_inicial_ceba").val();
  var peso_final_ceba = $("#id_peso_final_ceba").val();       
  var tiempo_ceba = $("#id_tiempo_periodo_ceba").val();
  var resta_ceba = Number(peso_final_ceba)-Number(peso_inicial_ceba);    
  console.log((resta_ceba)/tiempo_ceba)
  var resultado_ceba = (resta_ceba)/tiempo_ceba
  $("#id_ganancia_diaria_peso_ceba").val(resultado_ceba);     
}); //peso inicial ceba

$("#id_peso_final_ceba").on('keyup mouseup keypress blur focusin bind',function(){
  var peso_inicial_ceba = $("#id_peso_inicial_ceba").val();
  var peso_final_ceba = $("#id_peso_final_ceba").val();       
  var tiempo_ceba = $("#id_tiempo_periodo_ceba").val();
  var resta_ceba = Number(peso_final_ceba)-Number(peso_inicial_ceba);    
  console.log((resta_ceba)/tiempo_ceba)
  var resultado_ceba = (resta_ceba)/tiempo_ceba
  $("#id_ganancia_diaria_peso_ceba").val(resultado_ceba);     
}); //peso final ceba

$("#id_tiempo_periodo_ceba").on('keyup mouseup keypress blur focusin bind',function(){
  var peso_inicial_ceba = $("#id_peso_inicial_ceba").val();
  var peso_final_ceba = $("#id_peso_final_ceba").val();       
  var tiempo_ceba = $("#id_tiempo_periodo_ceba").val();
  var resta_ceba = Number(peso_final_ceba)-Number(peso_inicial_ceba);    
  console.log((resta_ceba)/tiempo_ceba)
  var resultado_ceba = (resta_ceba)/tiempo_ceba
  $("#id_ganancia_diaria_peso_ceba").val(resultado_ceba);     
}); //tiempo periodo ceba
  
}); //documento listo

</script>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/hato/hembras/{{object.predio_id}}">Inventario Animal </a></li>
  <li role="presentation" class="active"><a href="#">Parámetros Productivos </a></li>
</ul>


<form action="." method="POST" id="form">{% csrf_token %}
<div class="tab-content">
           <div class="tab-pane active" id="paramproductivos">
             <div class="row-fluid">
               <div class="span6">
                 <ul class="inline">
                 <form action="." method="POST" id="form">{% csrf_token %}
                   <li style="margin-right:62px"><h4>Doble proposito</h4></li>
                   <li><p class="text-info">Cant</p></li>
                 </ul>
                 <ul class="inline">
                   <li>Peso de la vaca en producción</li>
                   <li>{{form.peso_vaca_produccion}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:85px">Litro por vaca día</li>
                   <li>{{form.litro_vaca_dia}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:58px">Duración de lactancia</li>
                   <li>{{form.duracion_lactancia}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:112px">Días abiertos</li>
                   <li>{{form.dias_abiertos}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:13px">Peso de la cría al nacimiento</li>
                   <li>{{form.peso_cria_nacimiento}}</li>
                 </ul>
                 <ul class="inline" style="margin-top:50px">
                   <li style="margin-right:153px"><h4>Levante</h4></li>
                   <li><p class="text-info">Cant</p></li>
                 </ul>
                 
                <ul class="inline">
                   <li style="margin-right:120px">Peso al destete</li>
                   <li>{{form.peso_destete}}</li>
                 </ul>
                
                 <ul class="inline">
                   <li style="margin-right:68px">Peso al final del levante</li>
                   <li>{{form.peso_final_levante}}</li>
                 </ul>
               
                  <ul class="inline">
                   <li style="margin-right:68px">Tiempo periodo levante</li>
                   <li>{{form.tiempo_periodo_levante}}</li>
                 </ul>
                <ul class="inline">
                   <li style="margin-right:112px">Edad del levante</li>
                   <li>{{form.edad_levante}}</li>
                 </ul>
                 <ul class="inline">
                   <li><p class="text-warning">*</p></li>
                   <li>Ganancia diaria de peso (GDP)</li>
                   <li>{{form.ganancia_diaria_peso_levante}}</li>
                 </ul>
                
                 <ul class="inline">
                   <li style="margin-right:87px">Carga animal (UGG)</li>
                   <li>{{form.carga_animal_levante}}</li>
                 </ul>
                 <ul class="inline">
                   <li><p class="text-warning">*</p></li>
                   <li>(Peso final del levante - Peso al destete)/Tiempo periodo levante</li>
                 </ul>
                 <ul class="inline">
                 </ul>
               </div>
               <div class="span6">
                 <ul class="inline">
                   <li style="margin-right:175px"><h4>Ceba</h4></li>
                   <li><p class="text-info">Cant</p></li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:111px">Peso inicial ceba</li>
                   <li>{{form.peso_inicial_ceba}}</li>
                 </ul>

                <ul class="inline">
                   <li style="margin-right:120px">Peso final ceba</li>
                   <li>{{form.peso_final_ceba}}</li>
                 </ul>

                <ul class="inline">
                   <li style="margin-right:63px">Tiempo periodo de ceba</li>
                   <li>{{form.tiempo_periodo_ceba}}</li>
                 </ul>

                 <ul class="inline">
                   <li style="margin-right:129px">Edad de ceba</li>
                   <li>{{form.edad_ceba}}</li>
                 </ul>             

                 <ul class="inline">
                   <li><p class="text-warning">*</p></li>
                   <li>Ganancia diaria de peso (GDP)</li>
                   <li>{{form.ganancia_diaria_peso_ceba}}</li>
                 </ul>
               
                 <ul class="inline">
                   <li style="margin-right:87px">Carga animal (UGG)</li>
                   <li>{{form.carga_animal_ceba}}</li>
                 </ul>
                 <ul class="inline">
                   <li><p class="text-warning">*</p></li>
                   <li>(Peso final de ceba - Peso final d&iacute;a)/Tiempo periodo ceba</li>
                 </ul>
                 <ul class="inline">
                 </ul>
               </div>
             </div>
         <input type="submit"  value="Guardar">
           </div>
         </div>
       </div>
      </div>       
     </div>      
     </form>       
{% endblock %}


