{% extends './base.html' %}

{% block js %}

<script> 
  $(function () {
        $("#myTab a:contains('Indicadores económicos del Hato')").parent().addClass('active');        
     });

$(document).ready(function() {
  $('#form').ajaxForm(function() {
    alert("Información de machos guardado exitosamente");
    window.location.href = '/hato/otras-especies/{{object.predio_id}}';
  }); 
});


$(document).ready(function(){
  
  $("#id_toros_propios").on('keyup mouseup keypress blur focusin bind',function(){
    var toros_propios = $("#id_toros_propios").val();
    var toros_ajenos = $("#id_toros_ajenos").val();       
    $("#id_toros_totales").val(Number(toros_propios)+Number(toros_ajenos));     
  }); // blur paridas propias
  
  $("#id_toros_ajenos").on('keyup mouseup keypress blur focusin bind',function(){
    var toros_propias = $("#id_toros_propios").val();
    var toros_ajenos = $("#id_toros_ajenos").val();       
    $("#id_toros_totales").val(Number(toros_propios)+Number(toros_ajenos));     
  }); // blur paridas ajenas


  $("#id_machos_mayores_3_anios_propios").on('keyup mouseup keypress blur focusin bind',function(){
    var mayores_tres_propios = $("#id_machos_mayores_3_anios_propios").val();
    var mayores_tres_ajenos = $("#id_machos_mayores_3_anios_ajenos").val();       
    $("#id_machos_mayores_3_anios_totales").val(Number(mayores_tres_propios)+Number(mayores_tres_ajenos));
  }); // blur horras propias

  $("#id_machos_mayores_3_anios_ajenos").on('keyup mouseup keypress blur focusin bind',function(){
    var mayores_tres_propios = $("#id_machos_mayores_3_anios_propios").val();
    var mayores_tres_ajenos = $("#id_machos_mayores_3_anios_ajenos").val();       
    $("#id_machos_mayores_3_anios_totales").val(Number(mayores_tres_propios)+Number(mayores_tres_ajenos));
  }); // blur horras ajenas


  $("#id_machos_2_a_3_anios_propios").on('keyup mouseup keypress blur focusin bind',function(){
    var dos_tres_anios_propios = $("#id_machos_2_a_3_anios_propios").val();
    var dos_tres_anios_ajenos = $("#id_machos_2_a_3_anios_ajenos").val();       
    $("#id_machos_2_a_3_anios_totales").val(Number(dos_tres_anios_propios)+Number(dos_tres_anios_ajenos));
  }); // blur 23 propias  
   $("#id_machos_2_a_3_anios_ajenos").on('keyup mouseup keypress blur focusin bind',function(){
    var dos_tres_anios_propios = $("#id_machos_2_a_3_anios_propios").val();
    var dos_tres_anios_ajenos = $("#id_machos_2_a_3_anios_ajenos").val();       
    $("#id_machos_2_a_3_anios_totales").val(Number(dos_tres_anios_propios)+Number(dos_tres_anios_ajenos));          
  }); // blur 23 ajenas

  $("#id_machos_1_a_2_anios_propios").on('keyup mouseup keypress blur focusin bind',function(){
    var unoados_propios = $("#id_machos_1_a_2_anios_propios").val();
    var unoados_ajenos = $("#id_machos_1_a_2_anios_ajenos").val();       
    $("#id_machos_1_a_2_anios_totales").val(Number(unoados_propios)+Number(unoados_ajenos));     
  }); // blur 12 propias  
  $("#id_machos_1_a_2_anios_ajenos").on('keyup mouseup keypress blur focusin bind',function(){
    var unoados_propios = $("#id_machos_1_a_2_anios_propios").val();
    var unoados_ajenos = $("#id_machos_1_a_2_anios_ajenos").val();       
    $("#id_machos_1_a_2_anios_totales").val(Number(unoados_propios)+Number(unoados_ajenos));         
  }); // blur 12 ajenas


  $("#id_machos_menores_1_anio_propios").on('keyup mouseup keypress blur focusin bind',function(){
    var menores_propios = $("#id_machos_menores_1_anio_propios").val();
    var menores_ajenos = $("#id_machos_menores_1_anio_ajenos").val();       
    $("#id_machos_menores_1_anio_totales").val(Number(menores_propios)+Number(menores_ajenos));     
  }); // blur menores propias  
   $("#id_machos_menores_1_anio_ajenos").on('keyup mouseup keypress blur focusin bind',function(){
    var menores_propios = $("#id_machos_menores_1_anio_propios").val();
    var menores_ajenos = $("#id_machos_menores_1_anio_ajenos").val();       
    $("#id_machos_menores_1_anio_totales").val(Number(menores_propios)+Number(menores_ajenos));         
  }); // blur menores ajenas

  $("#id_bueyes_propios").on('keyup mouseup keypress blur focusin bind',function(){
    var bueyes_propios = $("#id_bueyes_propios").val();
    var bueyes_ajenos = $("#id_bueyes_ajenos").val();       
    $("#id_bueyes_totales").val(Number(bueyes_propios)+Number(bueyes_ajenos));     
  }); // blur menores propias  
     $("#id_bueyes_ajenos").on('keyup mouseup keypress blur focusin bind',function(){
    var bueyes_propios = $("#id_bueyes_propios").val();
    var bueyes_ajenos = $("#id_bueyes_ajenos").val();       
    $("#id_bueyes_totales").val(Number(bueyes_propios)+Number(bueyes_ajenos));       
  }); // blur menores ajenas


});








  
</script>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Inventario Animal </a></li>
  <li role="presentation"><a href="/hato/doble-proposito/{{object.predio_id}}">Parámetros Productivos </a></li>
</ul>

<div>
<form action="." method="POST" id="form">{% csrf_token %}
<div class="tab-content">   
         <div class="tab-content">
           <div class="tab-pane active" id="invanimal">
             <div class="row-fluid">             
               <div class="span4" style="margin-bottom: 10px;width: auto;padding-right: -1px">
               <form action="." method="POST" id="form">{% csrf_token %}
               <h4>Inventario ganadero</h4>
                 <ul class="inline">
                   <li style="margin-right:130px"><p class="text-info">Machos</p></li>
                   <li style="margin-right:25px"><p class="text-info">Propios</p></li>
                   <li style="margin-right:30px"><p class="text-info">Ajenos</p></li>
                   <li><p class="text-info">Totales</p></li>                   
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:143px">Toros</li>
                   <li>{{form.toros_propios}}</li>
                   <li>{{form.toros_ajenos}}</li>
                   <li>{{form.toros_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:10px">Machos mayores a 3 años</li>
                   <li>{{form.machos_mayores_3_anios_propios}}</li>
                   <li>{{form.machos_mayores_3_anios_ajenos}}</li>
                   <li>{{form.machos_mayores_3_anios_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:34px">Machos de 2 a 3 años</li>
                   <li>{{form.machos_2_a_3_anios_propios}}</li>
                   <li>{{form.machos_2_a_3_anios_ajenos}}</li>
                   <li>{{form.machos_2_a_3_anios_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:34px">Machos de 1 a 2 años</li>
                   <li>{{form.machos_1_a_2_anios_propios}}</li>
                   <li>{{form.machos_1_a_2_anios_ajenos}}</li>
                   <li>{{form.machos_1_a_2_anios_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:5px">Machos menores de 1 año</li>
                   <li>{{form.machos_menores_1_anio_propios}}</li>
                   <li>{{form.machos_menores_1_anio_ajenos}}</li>
                   <li>{{form.machos_menores_1_anio_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:122px">Bueyes</li>
                   <li>{{form.bueyes_propios}}</li>
                   <li>{{form.bueyes_ajenos}}</li>
                   <li>{{form.bueyes_totales}}</li>      
                   </ul>
<input type="submit"  value="Guardar">
</form>
</div>

<nav>
  <ul class="pager">
    <li class="previous"><a href="/hato/hembras/{{object.predio_id}}"><span aria-hidden="true">&larr;</span> Hembras</a></li>
    <li class="next"><a href="/hato/otras-especies/{{object.predio_id}}">Otras especies <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
{% endblock %}


