{% extends './base.html' %}

{% block js %}

<script> 
  $(function () {
        $("#myTab a:contains('Indicadores económicos del Hato')").parent().addClass('active');        
     });


$(document).ready(function() {
  $('#form').ajaxForm(function() {
    alert("Información guardado exitosamente");
    window.location.href = '/hato/doble-proposito/{{object.predio_id}}';
  }); 
});
  


$(document).ready(function(){
  
  $("#id_caballares_propios").on('keyup mouseup keypress blur focusin bind',function(){
    var caballares_propios = $("#id_caballares_propios").val();
    var caballares_ajenos = $("#id_caballares_ajenos").val();       
    $("#id_caballares_totales").val(Number(caballares_propios)+Number(caballares_ajenos));     
   }); // blur paridas propias
 
   $("#id_caballares_ajenos").on('keyup mouseup keypress blur focusin bind',function(){
    var caballares_propios = $("#id_caballares_propios").val();
    var caballares_ajenos = $("#id_caballares_ajenos").val();       
    $("#id_caballares_totales").val(Number(caballares_propios)+Number(caballares_ajenos));       
  }); // blur paridas ajenas


  $("#id_mulares_propios").on('keyup mouseup keypress blur focusin bind',function(){
    var mulares_propios = $("#id_mulares_propios").val();
    var mulares_ajenos = $("#id_mulares_ajenos").val();       
    $("#id_mulares_totales").val(Number(mulares_propios)+Number(mulares_ajenos));     
   }); // blur horras propias
 
  $("#id_mulares_ajenos").on('keyup mouseup keypress blur focusin bind',function(){
    var mulares_propios = $("#id_mulares_propios").val();
    var mulares_ajenos = $("#id_mulares_ajenos").val();       
    $("#id_mulares_totales").val(Number(mulares_propios)+Number(mulares_ajenos));       
  }); // blur horras ajenas


  $("#id_cochino_sabanero_propios").on('keyup mouseup keypress blur focusin bind',function(){
    var cochino_sabanero_propios = $("#id_cochino_sabanero_propios").val();
    var cochino_sabanero_ajenos = $("#id_cochino_sabanero_ajenos").val();       
  $("#id_cochino_sabanero_totales").val(Number(cochino_sabanero_propios)+Number(cochino_sabanero_ajenos));     
   }); // blur 23 propias
 
     $("#id_cochino_sabanero_ajenos").on('keyup mouseup keypress blur focusin bind',function(){
    var cochino_sabanero_propios = $("#id_cochino_sabanero_propios").val();
    var cochino_sabanero_ajenos = $("#id_cochino_sabanero_ajenos").val();       
    $("#id_cochino_sabanero_totales").val(Number(cochino_sabanero_propios)+Number(cochino_sabanero_ajenos));     
  }); // blur 23 ajenas


  $("#id_cerdos_confinamiento_propios").on('keyup mouseup keypress blur focusin bind',function(){
    var cerdos_confinamiento_propios = $("#id_cerdos_confinamiento_propios").val();
    var cerdos_confinamiento_ajenos = $("#id_cerdos_confinamiento_ajenos").val();       
    $("#id_cerdos_confinamiento_totales").val(Number(cerdos_confinamiento_propios)+Number(cerdos_confinamiento_ajenos));     
   }); // blur 12 propias
 
  $("#id_cerdos_confinamiento_ajenos").on('keyup mouseup keypress blur focusin bind',function(){
    var cerdos_confinamiento_propios = $("#id_cerdos_confinamiento_propios").val();
    var cerdos_confinamiento_ajenos = $("#id_cerdos_confinamiento_ajenos").val();       
    $("#id_cerdos_confinamiento_totales").val(Number(cerdos_confinamiento_propios)+Number(cerdos_confinamiento_ajenos));      
  }); // blur 12 ajenas


  $("#id_gallina_encasetada_propios").on('keyup mouseup keypress blur focusin bind',function(){
    var gallina_encasetada_propias = $("#id_gallina_encasetada_propios").val();
    var gallina_encasetada_ajenos = $("#id_gallina_encasetada_ajenos").val();       
    $("#id_gallina_encasetada_totales").val(Number(gallina_encasetada_propias)+Number(gallina_encasetada_ajenos));     
    
}); // blur menores propias

   $("#id_gallina_encasetada_ajenos").on('keyup mouseup keypress blur focusin bind',function(){
    var gallina_encasetada_propias = $("#id_gallina_encasetada_propios").val();
    var gallina_encasetada_ajenos = $("#id_gallina_encasetada_ajenos").val();       
    $("#id_gallina_encasetada_totales").val(Number(gallina_encasetada_propias)+Number(gallina_encasetada_ajenos));        
  }); // blur menores ajenas

  $("#id_pollos_engorde_propios").on('keyup mouseup keypress blur focusin bind',function(){
    var pollo_engorde_propios = $("#id_pollos_engorde_propios").val();
    var pollo_engorde_ajenos = $("#id_pollos_engorde_ajenos").val();       
    $("#id_pollos_engorde_totales").val(Number(pollo_engorde_propios)+Number(pollo_engorde_ajenos));     
   }); // blur menores propias  
  $("#id_pollos_engorde_ajenos").on('keyup mouseup keypress blur focusin bind',function(){
    var pollo_engorde_propios = $("#id_pollos_engorde_propios").val();
    var pollo_engorde_ajenos = $("#id_pollos_engorde_ajenos").val();       
    $("#id_pollos_engorde_totales").val(Number(pollo_engorde_propios)+Number(pollo_engorde_ajenos));  
  }); // blur menores ajenas

  $("#id_aves_traspatio_propios").on('keyup mouseup keypress blur focusin bind',function(){
    var aves_traspatio_propios = $("#id_aves_traspatio_propios").val();
    var aves_traspatio_ajenos = $("#id_aves_traspatio_ajenos").val();       
    $("#id_aves_traspatio_totales").val(Number(aves_traspatio_propios)+Number(aves_traspatio_ajenos));     
  }); // blur menores propias  
  $("#id_aves_traspatio_ajenos").on('keyup mouseup keypress blur focusin bind',function(){
    var aves_traspatio_propios = $("#id_aves_traspatio_propios").val();
    var aves_traspatio_ajenos = $("#id_aves_traspatio_ajenos").val();       
    $("#id_aves_traspatio_totales").val(Number(aves_traspatio_propios)+Number(aves_traspatio_ajenos));
  }); // blur menores ajenas

  $("#id_ovinos_propios").on('keyup mouseup keypress blur focusin bind',function(){
    var ovino_propios = $("#id_ovinos_propios").val();
    var ovino_ajenos = $("#id_ovinos_ajenos").val();       
    $("#id_ovinos_totales").val(Number(ovino_propios)+Number(ovino_ajenos));     
  }); // blur menores propias

  $("#id_ovinos_ajenos").on('keyup mouseup keypress blur focusin bind',function(){
    var ovino_propios = $("#id_ovinos_propios").val();
    var ovino_ajenos = $("#id_ovinos_ajenos").val();       
    $("#id_ovinos_totales").val(Number(ovino_propios)+Number(ovino_ajenos));       
  }); // blur menores ajenas



$("#id_caprinos_propios").on('keyup mouseup keypress blur focusin bind',function(){
    var caprinos_propios = $("#id_caprinos_propios").val();
    var caprinos_ajenos = $("#id_caprinos_ajenos").val();       
    $("#id_caprinos_totales").val(Number(caprinos_propios)+Number(caprinos_ajenos));     
    }); // blur menores propias

$("#id_caprinos_ajenos").on('keyup mouseup keypress blur focusin bind',function(){
    var caprinos_propios = $("#id_caprinos_propios").val();
    var caprinos_ajenos = $("#id_caprinos_ajenos").val();       
    $("#id_caprinos_totales").val(Number(caprinos_propios)+Number(caprinos_ajenos));  
  }); // blur menores ajenas


$("#id_peces_propios").on('keyup mouseup keypress blur focusin bind',function(){
    var peces_propios = $("#id_peces_propios").val();
    var peces_ajenos = $("#id_peces_ajenos").val();       
    $("#id_peces_totales").val(Number(peces_propios)+Number(peces_ajenos));     
 
  }); // blur menores propias

$("#id_peces_ajenos").on('keyup mouseup keypress blur focusin bind',function(){
    var peces_propios = $("#id_peces_propios").val();
    var peces_ajenos = $("#id_peces_ajenos").val();       
    $("#id_peces_totales").val(Number(peces_propios)+Number(peces_ajenos));  
  }); // blur menores ajenas

$("#id_buffalos_propios").on('keyup mouseup keypress blur focusin bind',function(){
    var buffalos_propios = $("#id_buffalos_propios").val();
    var buffalos_ajenos = $("#id_buffalos_ajenos").val();       
    $("#id_buffalos_totales").val(Number(buffalos_propios)+Number(buffalos_ajenos));     
 
  }); // blur menores propias
 
$("#id_buffalos_ajenos").on('keyup mouseup keypress blur focusin bind',function(){
    var buffalos_propios = $("#id_buffalos_propios").val();
    var buffalos_ajenos = $("#id_buffalos_ajenos").val();       
    $("#id_buffalos_totales").val(Number(buffalos_propios)+Number(buffalos_ajenos));    
  }); // blur menores ajenas





});










</script>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Inventario Animal </a></li>
  <li role="presentation"><a href="/hato/doble-proposito/{{object.predio_id}}">Parámetros Productivos </a></li>
</ul>

</br>

<form action="." method="POST" id="form">{% csrf_token %}
 <div class="span4" style="margin-bottom: 10px;margin-left: -10px;width: auto;padding-left: 10px">
                 <ul class="inline" style="margin-top:40px">
                   <li style="margin-right:130px"><p class="text-info">Otras especies</p></li>
                   <li style="margin-right:25px"><p class="text-info">Propios</p></li>
                   <li style="margin-right:30px"><p class="text-info">Ajenos</p></li>
                   <li><p class="text-info">Totales</p></li> 
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:155px">Caballares</li>
                   <li>{{form.caballares_propios}}</li>
                   <li>{{form.caballares_ajenos}}</li>
                   <li>{{form.caballares_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:172px">Mulares</li>
                   <li>{{form.mulares_propios}}</li>
                   <li>{{form.mulares_ajenos}}</li>
                   <li>{{form.mulares_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:107px">Cochino sabanero</li>
                   <li>{{form.cochino_sabanero_propios}}</li>
                   <li>{{form.cochino_sabanero_ajenos}}</li>
                   <li>{{form.cochino_sabanero_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:64px">Cerdos en confinamiento</li>
                   <li>{{form.cerdos_confinamiento_propios}}</li>
                   <li>{{form.cerdos_confinamiento_ajenos}}</li>
                   <li>{{form.cerdos_confinamiento_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:101px">Gallina encasetada</li>
                   <li>{{form.gallina_encasetada_propios}}</li>
                   <li>{{form.gallina_encasetada_ajenos}}</li>
                   <li>{{form.gallina_encasetada_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:108px">Pollos de engorde</li>
                   <li>{{form.pollos_engorde_propios}}</li>
                   <li>{{form.pollos_engorde_ajenos}}</li>
                   <li>{{form.pollos_engorde_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li>Aves traspatio (Ganzos, patos, etc)</li>
                   <li>{{form.aves_traspatio_propios}}</li>
                   <li>{{form.aves_traspatio_ajenos}}</li>
                   <li>{{form.aves_traspatio_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:180px">Ovinos</li>
                   <li>{{form.ovinos_propios}}</li>
                   <li>{{form.ovinos_ajenos}}</li>
                   <li>{{form.ovinos_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:167px">Caprinos</li>
                   <li>{{form.caprinos_propios}}</li>
                   <li>{{form.caprinos_ajenos}}</li>
                   <li>{{form.caprinos_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:185px">Peces</li>
                   <li>{{form.peces_propios}}</li>
                   <li>{{form.peces_ajenos}}</li>
                   <li>{{form.peces_totales}}</li>
                 </ul>
                 <ul class="inline">
                   <li style="margin-right:177px">Bufalos</li>
                   <li>{{form.buffalos_propios}}</li>
                   <li>{{form.buffalos_ajenos}}</li>
                   <li>{{form.buffalos_totales}}</li>
                 </ul>

<input type="submit"  value="Guardar">
                </div>
</form>

<nav>
  <ul class="pager">
    <li class="previous"><a href="/hato/machos/{{object.predio_id}}"><span aria-hidden="true">&larr;</span> Machos</a></li>
    
  </ul>
</nav>

{% endblock %}


