{% extends 'base-first-time.html' %}

{% block js %}
<script> 
$(document).ready(function() {
        $("#myTab a:contains('Información del predio')").parent().addClass('active');        
     });

$(document).ready(function() {
  $('#form').ajaxForm(function() {
     if($('#id_nombre_predio').val() == ''){
      alert('Nombre del Predio no puede estar vacío');
   }//if
   else{
    alert("Predio creado, ahora puedes seguir llenando los datos");
    window.location.href = '/informacionpredio/infogeneral/';
  }//else
  }); 
});


  $(function() {
    $( "#id_fecha_expedicion_acreditacion_inmueble" ).datepicker();
    $( "#id_fecha_expedicion_acreditacion_tierra" ).datepicker();
  });


</script>

</style>

{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Información general y jurídica</a></li>
</ul>

<div id="mensaje"></div>



<form action="." method="POST" id="form">{% csrf_token %}
<div class="tab-content">
        <div class="tab-pane active" id="infogral">
        <div class="row-fluid">
          <div class="span6">
            <ul class="inline">
              <h4 class="text-left">Información general</h4>
              <li style="margin-right: 125px">Pais</li>
              <li>Departamento</li>
            </ul>
            <ul class="inline">
              <li>
                {{form.pais}}
              </li>
              <li>
                {{form.departamento}}
              </li>
            </ul>
            <ul class="inline">
              <li style="margin-right:30px">Municipio</li>
              <li style="margin-right:55px">Centro poblado</li>
              <li>Zona</li>
            </ul>
            <ul class="inline">
              <li>
                {{form.municipio}}
              </li>
              <li>
                {{form.centro_poblado}}
              </li>
              <li>
                {{form.zona}}
              </li>
            </ul>
            <ul class="inline">
              <li style="margin-right: 60px">Corregimiento</li>
              <li>Vereda</li>
            </ul>
            <ul class="inline">
              <li>
                {{form.corregimiento}}
              </li>
              <li>
                {{form.vereda}}
              </li>
            </ul>
            <ul class="inline">
              <li>Nombre del predio</li>
            </ul>
            <ul class="inline">
              <li>
                {{form.nombre_predio}}
              </li>
            </ul>
            <ul class="inline">
              <li style="margin-right:60px">Coordenada (N)</li>
              <li>Coordenada (W)</li>
            </ul>
            <ul class="inline">
              <li>{{form.coordenada_n}}</li>
              <li>{{form.coordenada_w}}</li>
            </ul> 
            <ul class="inline">
              <li style="margin-right:15px">Ext. Total del predio (H)</li>
              <li>Área en arrendamiento (H)</li>
            </ul>
            <ul class="inline">
              <li>{{form.ext_total}}</li>
              <li>{{form.area_arrendamiento}}</li>
            </ul>
            <ul class="inline">
              <li style="margin-right:75px">Altitud (msnm)</li>
              <li>Precipitación(mm)</li>
            </ul>
            <ul class="inline">
              <li>{{form.altitud}}</li>
              <li>{{form.precipitacion}}</li>
            </ul>
            <ul class="inline">
              <li style="margin-right: 5px">Km a la cabecera Mpal</li>
              <li>Acceso al predio en el año</li>
            </ul>
            <ul class="inline">
              <li>
                {{form.km_cabecera_mpal}}
              </li>
              <li>
                {{form.acceso_predio_anio}}
              </li>
            </ul>
            <ul class="inline">
              <li style="margin-right: 15px">Medio de tpte. al predio</li>
              <li>Tenencia de finca (Años)</li>
            </ul>
            <ul class="inline">
              <li>{{form.medio_transporte_predio}}</li>
              <li>{{form.tenencia_finca}}</li>
            </ul>
            <ul class="inline">
              <li>Utiliza sabanas comunales para el manejo de carga?</li>
              <li>
                {{form.viven_producido}}
              </li>
            </ul>
            <ul class="inline">
              <li>Ud y su familia viven de lo que produce la finca?</li>
              <li>
                {{form.utiliza_sabanas_comunales}}
              </li>
            </ul>
         
          </div>

          <div class="span6">
            <ul class="inline">
              <h4>Información jurídica</h4>
              <li>Documento que acredite la propiedad del inmueble</li>
            </ul>
            <ul class="inline">
              <li>
               {{form.documento_acreditacion_propiedad}}
              </li>
            </ul>
            <ul class="inline">
              <li>N&uacute;mero de documento</li>
            </ul>
            <ul class="inline">
              <li>{{form.numero_documento_acreditacion_inmueble}}</li>
            </ul>
            <ul class="inline">
              <li style="margin-right: 35px">Fecha de expedici&oacute;n</li>
              <li>Lugar de expedici&oacute;n</li>
            </ul>
            <ul class="inline">
              <li>{{form.fecha_expedicion_acreditacion_inmueble}}</li>
              <li>{{form.lugar_expedicion_acreditacion_inmueble}}</li>
            </ul>
            <ul class="inline">
              <li style="margin-right: 30px">Matr&iacute;cula inmobiliaria</li>
              <li>C&eacute;dula catastral</li>
            </ul>
            <ul class="inline">
              <li>{{form.matricula_inmobiliaria}}</li>
              <li>{{form.cedula_catastral_acreditacion_inmueble}}</li>
            </ul>
            <ul class="inline">
              <li>Documento que acredite la propiedad de la tierra</li>
            </ul>
            <ul class="inline">
              <li>
                {{form.documento_acreditacion_tierra}}
              </li>
            </ul>
            <ul class="inline"> 
              <li>N&uacute;mero de documento</li>
            </ul>
            <ul class="inline">
              <li>{{form.numero_documento_acreditacion_tierra}}</li>
            </ul>
            <ul class="inline">
              <li style="margin-right: 35px">Fecha de expedici&oacute;n</li>
              <li>Lugar de expedici&oacute;n</li>
            </ul>
            <ul class="inline">
              <li>{{form.fecha_expedicion_acreditacion_tierra}}</li>
              <li>{{form.lugar_expedicion_acreditacion_tierra}}</li>
            </ul>
            <ul class="inline">
              <li style="margin-right: 30px">Matr&iacute;cula inmobiliaria</li>
              <li>C&eacute;dula catastral</li>
            </ul>
            <ul class="inline">
              <li>{{form.matricula_inmobiliaria_acreditacion_tierra}}</li>
              <li>{{form.cedula_catastral_acreditacion_tierra}}</li>
            </ul>
             <input type="submit" value="Guardar">
          </form>
          </div>
        </div>
        </div>
        </div>
       </div>
      </div>       
     </div>         



{% endblock %}


