body{
   	padding-top: 10px;
   	padding-bottom: 50px;
   }

html,
body {
 height: 100%;
}
@media (max-width: 900px) {
 #formulario1 {
   display: block;
   margin-bottom: 310px;
   width: 100%;
 }
}
@media (max-width: 770px) {
 #info1{
   margin-left: -10px;
   margin-right: -10px;
 }
 #info3{
   margin-left: 0px;
   margin-right: 0px;
 }
 #formulario1{
   margin-right: 1px;
   margin-left: 1px;
 }
 #piepagina{
   margin-left: 5px;
   margin-right: 5px;
 }
 #ubicacion2{
   margin-left: 1px;
   margin-right: 1px;
 }
 #barra{
   margin-right: -20px;
   margin-left: -20px;
 }
}