{% extends './base.html' %}

{% block js %}

<script> 
  $(function () {
        $("#myTab a:contains('Venta de lácteos y costos')").parent().addClass('active');        
     });

$(document).ready(function() {
  $('#form').ajaxForm(function() {
    alert("Información de sumplementos guardado exitosamente");
    window.location.href = '/lacteos/insumos/{{object.predio_id}}';
  }); 
});


$(document).ready(function(){
  
  $("#id_sal_blanca_cantidad").blur(function(){
    var sal_blanca_cantidad = $("#id_sal_blanca_cantidad").val();
    var sal_blanca_valor = $("#id_sal_blanca_valor").val();       
    $("#id_sal_blanca_total").val(Number(sal_blanca_cantidad)*Number(sal_blanca_valor));     
  
  $("#id_sal_blanca_valor").blur(function(){
    var sal_blanca_cantidad = $("#id_sal_blanca_cantidad").val();
    var sal_blanca_valor = $("#id_sal_blanca_valor").val();       
    $("#id_sal_blanca_total").val(Number(sal_blanca_cantidad)*Number(sal_blanca_valor));     
  }); // blur paridas propias
  }); // blur paridas ajenas


  $("#id_sal_mineralizada_cantidad").blur(function(){
    var sal_mineralizada_cantidad = $("#id_sal_mineralizada_cantidad").val();
    var sal_mineralizada_valor = $("#id_sal_mineralizada_valor").val();       
    $("#id_sal_mineralizada_total").val(Number(sal_mineralizada_cantidad)*Number(sal_mineralizada_valor));     
   $("#id_sal_mineralizada_valor").blur(function(){
    var sal_mineralizada_cantidad = $("#id_sal_mineralizada_cantidad").val();
    var sal_mineralizada_valor = $("#id_sal_mineralizada_valor").val();       
    $("#id_sal_mineralizada_total").val(Number(sal_mineralizada_cantidad)*Number(sal_mineralizada_valor));    
  }); // blur paridas propias
  }); // blur paridas ajenas


  $("#id_premezcla_mineral_cantidad").blur(function(){
    var premezca_cantidad = $("#id_premezcla_mineral_cantidad").val();
    var premezca_valor = $("#id_premezcla_mineral_valor").val();       
    $("#id_premezcla_mineral_total").val(Number(premezca_cantidad)*Number(premezca_valor)); 

  $("#id_premezcla_mineral_valor").blur(function(){
    var premezca_cantidad = $("#id_premezcla_mineral_cantidad").val();
    var premezca_valor = $("#id_premezcla_mineral_valor").val();       
    $("#id_premezcla_mineral_total").val(Number(premezca_cantidad)*Number(premezca_valor)); 
  }); // blur paridas propias
  }); // blur paridas ajenas


  $("#id_azufre_cantidad").blur(function(){
    var azufre_cantidad = $("#id_azufre_cantidad").val();
    var azufre_valor = $("#id_azufre_valor").val();       
    $("#id_azufre_total").val(Number(azufre_cantidad)*Number(azufre_valor)); 

  $("#id_azufre_valor").blur(function(){
    var azufre_cantidad = $("#id_azufre_cantidad").val();
    var azufre_valor = $("#id_azufre_valor").val();       
    $("#id_azufre_total").val(Number(azufre_cantidad)*Number(azufre_valor)); 


  }); // blur paridas propias
  }); // blur paridas ajenas



  $("#id_concentrado_cantidad").blur(function(){
    var concentrado_cantidad = $("#id_concentrado_cantidad").val();
    var concentrado_valor = $("#id_concentrado_valor").val();       
    $("#id_concentrado_total").val(Number(concentrado_cantidad)*Number(concentrado_valor)); 

 $("#id_concentrado_valor").blur(function(){
    var concentrado_cantidad = $("#id_concentrado_cantidad").val();
    var concentrado_valor = $("#id_concentrado_valor").val();       
    $("#id_concentrado_total").val(Number(concentrado_cantidad)*Number(concentrado_valor));


  }); // blur paridas propias
  }); // blur paridas ajenas


  $("#id_melaza_cantidad").blur(function(){
    var melaza_cantidad = $("#id_melaza_cantidad").val();
    var melaza_valor = $("#id_melaza_valor").val();       
    $("#id_melaza_total").val(Number(melaza_cantidad)*Number(melaza_valor)); 

   $("#id_melaza_valor").blur(function(){
    var melaza_cantidad = $("#id_melaza_cantidad").val();
    var melaza_valor = $("#id_melaza_valor").val();       
    $("#id_melaza_total").val(Number(melaza_cantidad)*Number(melaza_valor));

  }); // blur paridas propias
  }); // blur paridas ajenas


 $("#id_heno_cantidad").blur(function(){
    var heno_cantidad = $("#id_heno_cantidad").val();
    var heno_valor = $("#id_heno_valor").val();       
    $("#id_heno_total").val(Number(heno_cantidad)*Number(heno_valor)); 

   $("#id_heno_valor").blur(function(){
    var heno_cantidad = $("#id_heno_cantidad").val();
    var heno_valor = $("#id_heno_valor").val();       
    $("#id_heno_total").val(Number(heno_cantidad)*Number(heno_valor)); 

  }); // blur paridas propias
  }); // blur paridas ajenas


 $("#id_ensilaje_cantidad").blur(function(){
    var ensilaje_cantidad = $("#id_ensilaje_cantidad").val();
    var ensilaje_valor = $("#id_ensilaje_valor").val();       
    $("#id_ensilaje_total").val(Number(ensilaje_cantidad)*Number(ensilaje_valor)); 

  $("#id_ensilaje_valor").blur(function(){
    var ensilaje_cantidad = $("#id_ensilaje_cantidad").val();
    var ensilaje_valor = $("#id_ensilaje_valor").val();       
    $("#id_ensilaje_total").val(Number(ensilaje_cantidad)*Number(ensilaje_valor)); 

  }); // blur paridas propias
  }); // blur paridas ajenas


});


  
</script>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/lacteos/produccion-leche/{{object.predio_id}}">Venta de lácteos </a></li>
  <li role="presentation" class="active"><a href="#">Costos de producción </a></li>
</ul>

</br>

<form action="." method="POST" id="form">{% csrf_token %}
 <div class="tab-content">
          <div class="tab-pane active" id="costosproduccion">
            <div class="row-fluid">
              <div class="span4" style="margin-bottom: 10px;width: auto;padding-right: -1px">
                <ul class="inline">
               <li style="margin-right:40px"><h4>Suplementos</h4></li>
               <li style="margin-right:42px"><p class="text-info">Cant</p></li>
               <li style="margin-right:40px"><p class="text-info">Valor Unit.</p></li>
               <li><p class="text-info">Valor total</p></li>
             </ul>
             <ul class="inline">
               <li style="margin-right:81px">Sal blanca</li>
               <li>{{form.sal_blanca_cantidad}}</li>
               <li>{{form.sal_blanca_valor}}</li>
               <li>{{form.sal_blanca_total}}</li>
             </ul>
             <ul class="inline">
               <li style="margin-right:42px">Sal mineralizada</li>
               <li>{{form.sal_mineralizada_cantidad}}</li>
               <li>{{form.sal_mineralizada_valor}}</li>
               <li>{{form.sal_mineralizada_total}}</li>
             </ul>
             <ul class="inline">
               <li style="margin-right:29px">Premezcla mineral</li>
               <li>{{form.premezcla_mineral_cantidad}}</li>
               <li>{{form.premezcla_mineral_valor}}</li>
               <li>{{form.premezcla_mineral_total}}</li>
             </ul>
             <ul class="inline">
               <li style="margin-right:106px">Azufre</li>
               <li>{{form.azufre_cantidad}}</li>
               <li>{{form.azufre_valor}}</li>
               <li>{{form.azufre_total}}</li>
             </ul>
             <ul class="inline">
               <li>Concentrado comercial</li>
                <li>{{form.concentrado_cantidad}}</li>
               <li>{{form.concentrado_valor}}</li>
               <li>{{form.concentrado_total}}</li>
             </ul>
             <ul class="inline">
               <li style="margin-right:101px">Melaza</li>
               <li>{{form.melaza_cantidad}}</li>
               <li>{{form.melaza_valor}}</li>
               <li>{{form.melaza_total}}</li>
             </ul>
             <ul class="inline">
               <li style="margin-right:113px">Heno</li>
               <li>{{form.heno_cantidad}}</li>
               <li>{{form.heno_valor}}</li>
               <li>{{form.heno_total}}</li>
             </ul>
             <ul class="inline">
               <li style="margin-right:98px">Ensilaje</li>
               <li>{{form.ensilaje_cantidad}}</li>
               <li>{{form.ensilaje_valor}}</li>
               <li>{{form.ensilaje_total}}</li>
             </ul>

<input type="submit" value="Guardar">
<nav>
  <ul class="pager">
    <!--<li class="previous"><a href="/hato/hembras"><span aria-hidden="true">&larr;</span> Hembras</a></li>-->
    <li class="next"><a href="/lacteos/insumos/{{object.predio_id}}">Insumos <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>


</div>

{% endblock %}