{% extends './base.html' %}

{% block js %}

<script> 
  $(function () {
        $("#myTab a:contains('Opciones de administración')").parent().addClass('active');        
     });

$(document).ready(function() {
  $('#form').ajaxForm(function() {
    alert("Formulario guardado exitosamente");
    window.location.href = '/fuentesagua/nacimientos/{{object.predio_id}}';
  }); 
});

$(document).ready(function(){
  $("#id_cantidad_ninos").blur(function(){
    var ninos = $("#id_cantidad_ninos").val();
    var ninas = $("#id_cantidad_ninas").val();       
    $("#id_total_ninos").val(Number(ninos)+Number(ninas));     

  $("#id_cantidad_ninas").blur(function(){
    var ninos = $("#id_cantidad_ninos").val();
    var ninas = $("#id_cantidad_ninas").val();       
    $("#id_total_ninos").val(Number(ninas)+Number(ninos));     
  
  }); // blur cantida niños
  }); // blur cantidad niñas


  $("#id_cantidad_adultos_masculino").blur(function(){
    var adultos_h = $("#id_cantidad_adultos_masculino").val();
    var adultos_m = $("#id_cantidad_adultos_femenino").val();       
    $("#id_total_adultos").val(Number(adultos_h)+Number(adultos_m));     

  $("#id_cantidad_adultos_femenino").blur(function(){
    var adultos_h = $("#id_cantidad_adultos_masculino").val();
    var adultos_m = $("#id_cantidad_adultos_femenino").val();     
    $("#id_total_adultos").val(Number(adultos_h)+Number(adultos_m));     
  
  }); // blur cantidad adultos hombres
  }); //blur cantidad adultos mujeres


  $("#id_cantidad_adultos_mayores_masculino").blur(function(){
    var adultos_mayores_h = $("#id_cantidad_adultos_mayores_masculino").val();
    var adultos_mayores_m = $("#id_cantidad_adultos_mayores_femenino").val();       
    $("#id_total_adultos_mayores").val(Number(adultos_mayores_h)+Number(adultos_mayores_m));     

  $("#id_cantidad_adultos_mayores_femenino").blur(function(){
    var adultos_mayores_h = $("#id_cantidad_adultos_mayores_masculino").val();
    var adultos_mayores_m = $("#id_cantidad_adultos_mayores_femenino").val();     
    $("#id_total_adultos_mayores").val(Number(adultos_mayores_h)+Number(adultos_mayores_m));     
  
  }); // blur cantidad adultos hombres
  }); //blur cantidad adultos mujeres



});
  
</script>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/pae/propietario/{{object.predio_id}}">Propietario</a></li>
  <li role="presentation"><a href="/pe/propietario/{{object.predio_id}}">Propietario y administrador</a></li>
  <li role="presentation"><a href="/e/propietario/{{object.predio_id}}">Propietario, administrador y encargado</a></li>
  <li role="presentation" class="active"><a href="#">Habitantes del predio</a></li>
</ul>

</br>

<form action="." method="POST" id="form">{% csrf_token %}
 <div class="tab-content">
        <div class="tab-pane active" id="habitpredio">
          <div class="row-fluid">
            <ul class="inline">
              <h4>Informaci&oacute;n habitantes del predio</h4>
              <li style="margin-left:232px; margin-right:10px">Masculino</li>
              <li>Femenino</li>
            </ul>
            <ul class="inline">
              <li style="margin-right:122px">Cantidad niños</li>
              <li>{{form.cantidad_ninos}}</li>
              <li>{{form.cantidad_ninas}}</li>
            </ul>
            <ul class="inline">
              <li style="margin-right:110px">Cantidad adultos</li>
              <li>{{form.cantidad_adultos_masculino}}</li>
              <li>{{form.cantidad_adultos_femenino}}</li>
            </ul>
            <ul class="inline">
              <li style="margin-right:50px">Cantidad adultos mayores</li>
              <li>{{form.cantidad_adultos_mayores_masculino}}</li>
              <li>{{form.cantidad_adultos_mayores_femenino}}</li>
            </ul>
            <ul class="inline">
              <li style="margin-right:220px">Totales niños</li> 
              <li>{{form.total_ninos}}</li>
            </ul>
            <ul class="inline">
              <li style="margin-right:208px">Totales adultos</li>
              <li>{{form.total_adultos}}</li>
            </ul>
            <ul class="inline">
              <li style="margin-right:150px">Totales adultos mayores</li>
              <li>{{form.total_adultos_mayores}}</li>
            </ul>
            <!--<ul class="inline">
              <li style="margin-right:175px">Cantidad habitantes</li>
              <li>{{form.cantidad_habitantes}}</li>
            </ul>-->
          </div>
        </div>
<input type="submit"  value="Guardar">
        
       </div>
       </div>
      </div>       
     </div>         
</form>






{% endblock %}