{% extends './base.html' %}

{% block js %}

<script> 
  $(function () {
        $("#myTab a:contains('Manejo general de la finca')").parent().addClass('active');        
     });

$(document).ready(function() {
  $('#form').ajaxForm(function() {
    alert("Información de enfermedades guardado exitosamente");
    window.location.href = '/agro/agroecoturismo/{{object.predio_id}}';
  }); 
});

  
</script>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/manejo-finca/manejo-general/{{object.predio_id}}">Manejo general y potreros </a></li>
  <li role="presentation" class="active"><a href="#">Enfermedades y problemas sanitarios </a></li>
</ul>

</br>

<form action="." method="POST" id="form">{% csrf_token %}
<div class="tab-content">
           <div class="tab-pane active" id="enfermproblemsanit">
             <div class="row-fluid">
               <div class="span6">
                 <ul class="inline">
                 <form action="." method="POST" id="form">{% csrf_token %}
                   <h5>Enfermedades y problemas sanitarios mas frecuentes</h5>
                   {{form.enfermedades_frecuentes}}
                 <ul class="inline" style="margin-top:50px">                  
                   <h5>Cuales de las siguientes labores practica a sus animales</h5>
                   {{form.labores_animales}}
               </div>
               <div class="span6">
                 <ul class="inline">
                   <h5>Que vacunas aplica al ganado</h5>
                   {{form.vacunas}}
                 </ul>             
               </div>
             </div>
           </div>     
            <input type="submit"  value="Guardar">      
         </div>
       </div>
      </div>       
     </div>         
    </form>

{% endblock %}