<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Comparacion de Predios</title>


</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Formulario CIPAV</title>



<style type="text/css">
@import url('http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.css');
@import url('http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2-bootstrap.css');
@import url('http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css');
.timepicker-picker .table-condensed td{text-align:center}
</style>

<style>
        #demo {background:white;}
        .sortitem{background:white;padding-left:20px;}
        .sortitem .sorthandle{position:absolute;top:5px;bottom:5px;left:3px;width:8px;display:none;background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAB3RJTUUH3wIDBycZ/Cj09AAAAAlwSFlzAAALEgAACxIB0t1+/AAAAARnQU1BAACxjwv8YQUAAAAWSURBVHjaY2DABhoaGupBGMRmYiAEAKo2BAFbROu9AAAAAElFTkSuQmCC');}
        .sortitem:hover .sorthandle{display:block;}
</style>

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" media="print" href="http://printstylesheet.com/print.css">

<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
<!--
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
-->


<!-- Links tabla -->

</head>
<body>
  

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Barra_Navegacion">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <li><a href="#" class="navbar-brand">PrediApp </a><img src="http://imageshack.com/a/img538/8439/N3lBTg.png" style="width: 40px;height: 40px; margin-top:3px; margin-left:-10px"></li>
      
    </div>
    
    <div class="collapse navbar-collapse" id="Barra_Navegacion"><!-- colapsable -->
      <ul class="nav navbar-nav"> <!-- Navbar left -->
        <li><a href="#"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-map-marker"></span>Predios <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/edit/">Consulta de predios</a></li>
            <li><a href="/informacionpredio/first/infogeneral/">Ingresar predio</a></li>
            <li><a href="/comparar-predios/">Comparar predios</a></li>
          </ul>
        </li>
       
      </ul> <!-- Fin Navbar left -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{user.username}}</a></li>
      </ul>
      <legend style="background-color:red; height:3px; max-width:100%; margin:0px 0px 0px -1px"></legend>
      <ul class="nav navbar-nav"> <!-- navba-nav -->
            
      </ul> <!-- fin navba-nav -->
    </div><!-- Fin colapsable -->
    
  </div>
</nav>

             
    </div>
<div class="col-md-12" style="margin-left:0px;border:1px solid #DCDCDC;border-radius:5px">  <!-- md-12 -->
     </br>
<a class="btn btn-primary" href="/comparar-predios">Volver a comparaciones</a>


      <div id="demo" class="row">
        <div class="col-md-4" style="padding-left:5px">
          <h4>Inventario ganadero</h4>
        </div>
          {% for dato in hembras %}
          {% for hembra,comparacion_hembras in dato.items%}
        <div class="sortitem col-md-2" align="center">
          <span class="sorthandle"> </span>
          <h5>{{hembra}}</h5>
        </div>
        {% endfor %}
        {% endfor %}
        
    </div>  <!-- fin md-12 -->
      <table class="table table-condensed table-bordered">  <!-- Table condensed -->
        <tbody>
          <tr>
            <td width="410px"><strong>Hembras</strong></td>
            {% for dato in hembras %}
            {% for hembra,comparacion_hembras in dato.items%}
            <td>Prop.</td>
            <td>Aje.</td>
            <td><strong>Total</strong></td>
            {% endfor %}
            {% endfor %}
          </tr>
          <tr>
            <td>Vacas paridas</td>
            {% for dato in hembras %}
            {% for hembra,comparacion_hembras in dato.items%}
            <td>{{comparacion_hembras.vacas_paridas_propias}}</td>
            <td>{{comparacion_hembras.vacas_paridas_ajenas}}</td>
            <td>{{comparacion_hembras.vacas_paridas_totales}}</td>
            {% endfor %} 
            {% endfor %}            
          </tr>
            <td>Vacas horras(secas)</td>
            {% for dato in hembras %}
            {% for hembras,comparacion_hembras in dato.items%}
            <td>{{comparacion_hembras.vacas_horras_propias}}</td>
            <td>{{comparacion_hembras.vacas_horras_ajenas}}</td>
            <td>{{comparacion_hembras.vacas_horras_totales}}</td>
            {% endfor %} 
            {% endfor %}   
          </tr>
          <tr>
            <td>Hembras de 2 a 3 años</td>
            {% for dato in hembras %}
            {% for hembra,comparacion_hembras in dato.items%}
            <td>{{comparacion_hembras.vacas_23_propias}}</td>
            <td>{{comparacion_hembras.vacas_23_ajenas}}</td>
            <td>{{comparacion_hembras.vacas_23_totales}}</td>
            {% endfor %} 
            {% endfor %}   
          </tr>
          <tr>
            <td>Hembras de 1 a 2 años</td>
            {% for dato in hembras %}
            {% for hembra,comparacion_hembras in dato.items%}
            <td>{{comparacion_hembras.vacas_12_propias}}</td>
            <td>{{comparacion_hembras.vacas_12_ajenas}}</td>
            <td>{{comparacion_hembras.vacas_12_totales}}</td>
            {% endfor %} 
            {% endfor %}  
          </tr>
          <tr>
            <td>Hembras menores de 1 año</td>
            {% for dato in hembras %}
            {% for hembra,comparacion_hembras in dato.items%}
            <td>{{comparacion_hembras.vacas_menores_propias}}</td>
            <td>{{comparacion_hembras.vacas_menores_ajenas}}</td>
            <td>{{comparacion_hembras.vacas_menores_totales}}</td>
            {% endfor %} 
            {% endfor %}  
          </tr>
          <tr>
            <td>Animales de saca o descarte</td>
            {% for dato in hembras %}
            {% for hembra,comparacion_hembras in dato.items%}
            <td>{{comparacion_hembras.vacas_descarte_propias}}</td>
            <td>{{comparacion_hembras.vacas_descarte_ajenas}}</td>
            <td>{{comparacion_hembras.vacas_descarte_totales}}</td>
            {% endfor %} 
            {% endfor %} 
          </tr>
          <!--<tr>
            <td><strong>Totales</strong></td>
            <td><strong>70</strong></td>
            <td><strong>70</strong></td>
            <td><strong>140</strong></td>
            <td><strong>70</strong></td>
            <td><strong>70</strong></td>
            <td><strong>140</strong></td>
            <td><strong>70</strong></td>
            <td><strong>70</strong></td>
            <td><strong>140</strong></td>
            <td><strong>70</strong></td>
            <td><strong>70</strong></td>
            <td><strong>140</strong></td>
          </tr>-->
        </tbody>
      </table> <!-- fin Table condensed -->

      <div class="col-md-12" style="margin-left:0px;border:1px solid #DCDCDC;border-radius:5px">
               <div id="demo" class="row">
                 <div class="col-md-4" style="padding-left:5px">
                   <h4>Inventario ganadero</h4>
                 </div>
                  {% for dato in machos %}
                  {% for macho,comparacion_machos in dato.items%}
                  <div class="sortitem col-md-2" align="center">
                  <span class="sorthandle"> </span>
                  <h5>{{macho}}</h5>
                  </div>
                  {% endfor %}
                  {% endfor %}
      </div>
        <table class="table table-condensed table-bordered"> <!-- Table condensed -->
                <tbody>
                  <tr>
                    <td width="410px"><strong>Machos</strong></td>
                    {% for dato in machos %}
                    {% for macho,comparacion_machos in dato.items%}
                    <td>Prop.</td>
                    <td>Aje.</td>
                    <td><strong>Total</strong></td>
                    {% endfor %}
                    {% endfor %}
                  </tr>
                  <tr>
                    <td>Toros</td>
                    {% for dato in machos %}
                    {% for macho,comparacion_machos in dato.items%}
                    <td>{{comparacion_machos.toros_propios}}</td>
                    <td>{{comparacion_machos.toros_ajenos}}</td>
                    <td>{{comparacion_machos.toros_totales}}</td>
                    {% endfor %} 
                    {% endfor %}  
                  </tr>
                  <tr>
                    <td>Machos mayores a 3 años</td>
                    {% for dato in machos %}
                    {% for macho,comparacion_machos in dato.items%}
                    <td>{{comparacion_machos.machos_mayores_3_anios_propios}}</td>
                    <td>{{comparacion_machos.machos_mayores_3_anios_ajenos}}</td>
                    <td>{{comparacion_machos.machos_mayores_3_anios_totales}}</td>
                    {% endfor %} 
                    {% endfor %}  
                  </tr>
                  <tr>
                    <td>Machos entre 2 a 3 años</td>
                    {% for dato in machos %}
                    {% for macho,comparacion_machos in dato.items%}
                    <td>{{comparacion_machos.machos_2_a_3_anios_propios}}</td>
                    <td>{{comparacion_machos.machos_2_a_3_anios_ajenos}}</td>
                    <td>{{comparacion_machos.machos_2_a_3_anios_totales}}</td>
                    {% endfor %} 
                    {% endfor %}  
                  </tr>
                  <tr>
                    <td>Machos de 1 a 2 años</td>
                    {% for dato in machos %}
                    {% for macho,comparacion_machos in dato.items%}
                    <td>{{comparacion_machos.machos_1_a_2_anios_propios}}</td>
                    <td>{{comparacion_machos.machos_1_a_2_anios_ajenos}}</td>
                    <td>{{comparacion_machos.machos_1_a_2_anios_totales}}</td>
                    {% endfor %} 
                    {% endfor %}  
                  </tr>
                  <tr>
                    <td>Machos menores de 1 año</td>
                    {% for dato in machos %}
                    {% for macho,comparacion_machos in dato.items%}
                    <td>{{comparacion_machos.machos_menores_1_anio_propios}}</td>
                    <td>{{comparacion_machos.machos_menores_1_anio_ajenos}}</td>
                    <td>{{comparacion_machos.machos_menores_1_anio_totales}}</td>
                    {% endfor %} 
                    {% endfor %}  
                  </tr>
                  <tr>
                    <td>Bueyes</td>
                    {% for dato in machos %}
                    {% for macho,comparacion_machos in dato.items%}
                    <td>{{comparacion_machos.bueyes_propios}}</td>
                    <td>{{comparacion_machos.bueyes_ajenos}}</td>
                    <td>{{comparacion_machos.bueyes_totales}}</td>
                    {% endfor %} 
                    {% endfor %}  
                  </tr>
                  <!--<tr>
                    td>Animales de saca o descarte</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                    <td>18</td>
                    <td>18</td>
                    <td>36</td>
                  </tr>-->
                  <!--<tr>
                    <td><strong>Totales</strong></td>
                    <td><strong>79</strong></td>
                    <td><strong>79</strong></td>
                    <td><strong>158</strong></td>
                    <td><strong>79</strong></td>
                    <td><strong>79</strong></td>
                    <td><strong>158</strong></td>
                    <td><strong>79</strong></td>
                    <td><strong>79</strong></td>
                    <td><strong>158</strong></td>
                    <td><strong>79</strong></td>
                    <td><strong>79</strong></td>
                    <td><strong>158</strong></td>
                  </tr>-->
                </tbody>
              </table> <!-- fin Table condensed -->

         <div class="col-md-12" style="margin-left:0px;border:1px solid #DCDCDC;border-radius:5px">
               <div id="demo" class="row">
                 <div class="col-md-4" style="padding-left:5px">
                   <h4>Inventario ganadero</h4>
                 </div>
                  {% for dato in otras_especies %}
                  {% for otra_especie,comparacion_otras_especies in dato.items%}
                  <div class="sortitem col-md-2" align="center">
                  <span class="sorthandle"> </span>
                  <h5>{{otra_especie}}</h5>
                  </div>
                  {% endfor %}
                  {% endfor %}
      </div>
        <table class="table table-condensed table-bordered"> <!-- Table condensed -->
                <tbody>
                  <tr>
                    <td width="410px"><strong>Otras especies</strong></td>
                    {% for dato in otras_especies %}
                    {% for otra_especie,comparacion_otras_especies in dato.items%}
                    <td>Prop.</td>
                    <td>Aje.</td>
                    <td><strong>Total</strong></td>
                    {% endfor %}
                    {% endfor %}
                  </tr>
                  <tr>
                    <td>Caballares</td>
                    {% for dato in otras_especies %}
                    {% for otra_especie,comparacion_otras_especies in dato.items%}
                    <td>{{comparacion_otras_especies.caballares_propios}}</td>
                    <td>{{comparacion_otras_especies.caballares_ajenos}}</td>
                    <td>{{comparacion_otras_especies.caballares_totales}}</td>
                    {% endfor %} 
                    {% endfor %}  
                  </tr>
                  <tr>
                    <td>Mulares</td>
                    {% for dato in otras_especies %}
                    {% for otra_especie,comparacion_otras_especies in dato.items%}
                    <td>{{comparacion_otras_especies.mulares_propios}}</td>
                    <td>{{comparacion_otras_especies.mulares_ajenos}}</td>
                    <td>{{comparacion_otras_especies.mulares_totales}}</td>
                    {% endfor %} 
                    {% endfor %}  
                  </tr>
                  <tr>
                    <td>Cochino sabanero</td>
                    {% for dato in otras_especies %}
                    {% for otra_especie,comparacion_otras_especies in dato.items%}
                    <td>{{comparacion_otras_especies.cochino_sabanero_propios}}</td>
                    <td>{{comparacion_otras_especies.cochino_sabanero_ajenos}}</td>
                    <td>{{comparacion_otras_especies.cochino_sabanero_totales}}</td>
                    {% endfor %} 
                    {% endfor %}
                  </tr>
                  <tr>
                    <td>Cerdos en confinamiento</td>
                    {% for dato in otras_especies %}
                    {% for otra_especie,comparacion_otras_especies in dato.items%}
                    <td>{{comparacion_otras_especies.cerdos_confinamiento_propios}}</td>
                    <td>{{comparacion_otras_especies.cerdos_confinamiento_ajenos}}</td>
                    <td>{{comparacion_otras_especies.cerdos_confinamiento_totales}}</td>
                    {% endfor %} 
                    {% endfor %}
                  </tr>
                  <tr>
                    <td>Gallina de postura encasetada</td>
                    {% for dato in otras_especies %}
                    {% for otra_especie,comparacion_otras_especies in dato.items%}
                    <td>{{comparacion_otras_especies.gallina_encasetada_propios}}</td>
                    <td>{{comparacion_otras_especies.gallina_encasetada_ajenos}}</td>
                    <td>{{comparacion_otras_especies.gallina_encasetada_totales}}</td>
                    {% endfor %} 
                    {% endfor %}
                  </tr>
                  <tr>
                    <td>Pollos de engorde</td>
                    {% for dato in otras_especies %}
                    {% for otra_especie,comparacion_otras_especies in dato.items%}
                    <td>{{comparacion_otras_especies.pollos_engorde_propios}}</td>
                    <td>{{comparacion_otras_especies.pollos_engorde_ajenos}}</td>
                    <td>{{comparacion_otras_especies.pollos_engorde_totales}}</td>
                    {% endfor %} 
                    {% endfor %}
                  </tr>
                  <tr>
                    <td>Aves transpatio(Patos, gallinas, etc)</td>
                    {% for dato in otras_especies %}
                    {% for otra_especie,comparacion_otras_especies in dato.items%}
                    <td>{{comparacion_otras_especies.aves_traspatio_propios}}</td>
                    <td>{{comparacion_otras_especies.aves_traspatio_ajenos}}</td>
                    <td>{{comparacion_otras_especies.aves_traspatio_totales}}</td>
                    {% endfor %} 
                    {% endfor %}
                  </tr>
                  <tr>
                    <td>Ovinos</td>
                    {% for dato in otras_especies %}
                    {% for otra_especie,comparacion_otras_especies in dato.items%}
                    <td>{{comparacion_otras_especies.ovinos_propios}}</td>
                    <td>{{comparacion_otras_especies.ovinos_ajenos}}</td>
                    <td>{{comparacion_otras_especies.ovinos_totales}}</td>
                    {% endfor %} 
                    {% endfor %}
                  </tr>
                  <tr>
                    <td>Caprinos</td>
                    {% for dato in otras_especies %}
                    {% for otra_especie,comparacion_otras_especies in dato.items%}
                    <td>{{comparacion_otras_especies.caprinos_propios}}</td>
                    <td>{{comparacion_otras_especies.caprinos_ajenos}}</td>
                    <td>{{comparacion_otras_especies.caprinos_totales}}</td>
                    {% endfor %} 
                    {% endfor %}
                  </tr>
                  <tr>
                    <td>Peces</td>
                    {% for dato in otras_especies %}
                    {% for otra_especie,comparacion_otras_especies in dato.items%}
                    <td>{{comparacion_otras_especies.peces_propios}}</td>
                    <td>{{comparacion_otras_especies.peces_ajenos}}</td>
                    <td>{{comparacion_otras_especies.peces_totales}}</td>
                    {% endfor %} 
                    {% endfor %}
                  </tr>
                  <tr>
                    <td>Bufalos</td>
                    {% for dato in otras_especies %}
                    {% for otra_especie,comparacion_otras_especies in dato.items%}
                    <td>{{comparacion_otras_especies.buffalos_propios}}</td>
                    <td>{{comparacion_otras_especies.buffalos_ajenos}}</td>
                    <td>{{comparacion_otras_especies.buffalos_totales}}</td>
                    {% endfor %} 
                    {% endfor %}
                  </tr>
                  <!--<tr>
                    <td><strong>Totales</strong></td>
                    <td><strong>150</strong></td>
                    <td><strong>150</strong></td>
                    <td><strong>300</strong></td>
                    <td><strong>150</strong></td>
                    <td><strong>150</strong></td>
                    <td><strong>300</strong></td>
                    <td><strong>150</strong></td>
                    <td><strong>150</strong></td>
                    <td><strong>300</strong></td>
                    <td><strong>150</strong></td>
                    <td><strong>150</strong></td>
                    <td><strong>300</strong></td>
                  </tr>-->
                </tbody>
              </table> <!-- fin Table condensed -->

  </div> <!-- fin panel body -->
</div> <!-- fin panel primary -->



<script type="text/javascript">
$(document).ready(function () {
                
  $('#example1').datepicker({
  format: "dd/mm/yyyy"
  });  
  $('#example2').datepicker({
  format: "dd/mm/yyyy"
  });   
});

  //Select2
$.getScript('http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.min.js',function(){
           
  /* dropdown and filter select */
  var select = $('#select2').select2();
  
  /* Select2 plugin as tagpicker */
  $("#tagPicker").select2({
    closeOnSelect:false
  });

}); //script         
      
  
//Date picker
$.getScript('//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js',function(){
  
  $('#datePicker').datepicker({
    autoclose:true,
  }).on("changeDate", function(e){
    console.log(e.date);
  });
  
  $('.input-daterange').datePicker({
    autoclose:true
  }).on("changeDate", function(e){
    console.log(e.date);
  });
  
}); //script  
   


//Time picker - requires moment.js
$.getScript('//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js',function(){
  $.getScript('//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js',function(){
    
    $('#timePicker').datetimepicker({
      pickDate: false
    });
    
  }); //script
}); //script


$(document).ready(function() {});
</script>

<!--<script type="text/javascript" src="js/jquery.vSort.js"></script>
<script type="text/javascript" src="js/jquery.vSort.min.js"></script>-->
<script src="{{STATIC_URL}}js/bootstrap.js"></script>
<script src="js/jquery.js"></script>
</body>

</html>


</body>
</html>