{% extends 'base-edit.html' %}

{% block js %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function() {
    var table = $('#tabla').DataTable( {
        responsive: true,
        paging: false
    } );
 
    new $.fn.dataTable.FixedHeader( table );
   } );
 </script> 


{% endblock %}


{% block content %}


<div class="table-responsive">
<table class="table table-bordered" id="tabla">
    <thead>
    <tr>
      <th>ID</th>
        <th>Nombre Finca</th>
        <th>Extension</th>
        <th>Tenencia</th>   
        <th>Ver reporte</th>    
    </tr>
    </thead>
    <tbody>
        {% for p in object_list %}
        <tr>
            <th scope="row">{{ p.pk }}</th>
            <td>{{p.nombre_predio}}</td>
            <td>{{p.ext_total}}</td>
            <td>{{p.tenencia_finca}}</td>

<td><div align="center"><a class="btn" href="/reporte/{{p.id}}/"><i class="icon-pencil"></i>  Ver </a></div></td>
        </tr>
        {% endfor %}
    </tbody>
</table>



 

{% endblock %}