{% extends './base.html' %}

{% block js %}

<script> 
  $(function () {
      $("#myTab a:contains('Información del predio')").parent().addClass('active');        

     });

$(document).ready(function() {
  $('#form').ajaxForm(function() {
    alert("Información de vivienda creada correctamente");
    window.location.href = '/pae/propietario/{{object.predio_id}}';
  }); 
});

  
</script>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/informacionpredio/infogeneral/{{object.predio_id}}">Información general y jurídica</a></li>
  <li role="presentation"><a href="/informacionpredio/cantidad-creditos/{{object.predio_id}}">Crédito</a></li>
  <li role="presentation" class="active"><a href="">Vivienda estructura y servicios básicos</a></li>
</ul>

</br>

<form action="." method="POST" id="form">{% csrf_token %}
<div class="tab-content">
        <div class="tab-pane active" id="vivienda">
          <div class="row-fluid">
            <div class="span6">
              <ul class="inline">
                <h4>Infraestructura y servicios b&aacute;sicos</h4>
                <li>El predio posee vivienda?</li>
                <li>
                  {{form.posee_vivienda}}
                </li>
              </ul>
              <ul class="inline">
                <li style="margin-right:95px">Cubierta</li>                
                <li>Tipo de construcci&oacute;n</li>                
              </ul>
              <ul class="inline">
                <li>
                  {{form.cubierta}}
                </li>
                <li>
                  {{form.tipo_construccion}}
                </li>
              </ul>
              <ul class="inline">
                <li>Estado de saneamiento b&aacute;sico de la vivienda</li>
                <li>
                  {{form.estado_saneamiento}}
                </li>
              </ul>
              <ul class="inline">
                <li>El predio posee bateria sanitaria?</li>
                <li>
                  {{form.bateria_sanitaria}}
                </li>
              </ul>
              <ul class="inline">
                <li>Posee energ&iacute;a el&eacute;ctrica?</li>
                <li>
                  {{form.energia_electrica}}
                </li>
              </ul>
              <ul class="inline">
                <li>Maneja fuentes de energ&iacute;a alternativa</li>
                <li>
                  {{form.energia_alternativa}}
                </li>
              </ul>
              <ul class="inline">
                <li>Cual</li>
                <li>
                  {{form.fuente_energia}}
                </li>
              </ul>
            </div>
            <div class="span6">
              <h4>Fuente de energ&iacute;a para preparaci&oacute;n de alimentos</h4>
              {{form.energia_preparacion_alimentos}}
            </div>

          </div>
<input type="submit"  value="Guardar"></br></br>
        </div>
        </div>
       </div>
      </div>       
     </div>         
</form>
    



{% endblock %}